<section class="about-top">
  <div class="about-top__img--desck">
  	<img src="{{ "about-top_low.jpg" | asset_url }}" data-src="{{ "about-top.jpg" | asset_url }}" class="lazyload" alt="{{ 'about-top_alt' | t }}">
  </div>
  <div class="about-top__img">
  	<img src="{{ "about-top_mob_low.jpg" | asset_url }}" data-src="{{ "about-top_mob.jpg" | asset_url }}" class="lazyload" alt="{{ 'about-top_alt' | t }}">
  </div>
  
  <div class="about-top__descr">
    <div class="about-top__descr-wrapper">
      <h1>{%if shop.locale != 'ru' %}ЖОДНИХ<br/> КОМПРОМІСІВ з glo™{% else %}НИКАКИХ<br/> КОМПРОМИССОВ с glo™{% endif %}</h1>
      <p>{{ 'about-top_text' | t }}</p>
    </div>
  </div>
</section>


{% schema %}
  {
	"locales": {
      "uk": {
        "about-top_text": "Давай одразу домовимось: погоджуватися на менше – не в нашому стилі. Ми тут, щоб брати від життя максимум. Високоякісний натуральний тютюн, на 90% менше токсинів та насичений смак – залізні аргументи, втілені у новому інноваційному девайсі glo™. Без сумнівів, без компромісів.",
		"about-top_alt": "ЖОДНИХ КОМПРОМІСІВ з glo™"
      		},
      "ru": {
		"about-top_text": "Давай сразу договоримся: соглашаться на меньшее - не в нашем стиле. Мы здесь, чтобы брать от жизни максимум. Высококачественный натуральный табак, на 90% меньше токсинов и насыщенный вкус - железные аргументы, воплощенные в новом инновационном девайсе glo ™. Без сомнений, без компромиссов.",
		"about-top_alt": "НИКАКИХ КОМПРОМИССОВ с glo™"
      		},
      "en": {
		"about-top_text": "Давай одразу домовимось: погоджуватися на менше – не в нашому стилі. Ми тут, щоб брати від життя максимум. Високоякісний натуральний тютюн, на 90% менше токсинів та насичений смак – залізні аргументи, втілені у новому інноваційному девайсі glo™. Без сумнівів, без компромісів.",
		"about-top_alt": "ЖОДНИХ КОМПРОМІСІВ з glo™"
      		}
  	},

    "name": "Section name",
    "settings": []
  }
{% endschema %}
