<div class="container-fliud block-mb">
    <div class="container">
        <div class="row">
          <div class="col-lg-16">
            <div class="text-center social">
                <h2 class="text-center">Приєднуйся до glo<span class="TM">TM</span></h2>
                <div class="social__link text-center">
                    <a class="insta" href="http://instagram.com/glo_ukraine" target="_blank"><img src="//cdn.shopify.com/s/files/1/0265/9932/5730/t/3/assets/instagram-dark.svg?10717" alt="glo_ukraine">@glo_ukraine</a>
                    <a href="https://www.facebook.com/mygloua/" target="_blank"><img src="//cdn.shopify.com/s/files/1/0265/9932/5730/t/3/assets/facebook-dark.svg?10717" alt="mygloua">@mygloua</a>
                </div>

                <div id="instafeed_1--disable" class="masonry--disabled instb">
                  <div class="instb__col instb__col--one">
                  	<a href="https://www.instagram.com/p/B_zi1KkpvJx/" target="_blank">
                      <img data-src={{"insta_2020_1.jpg" | asset_url }} alt="Instagram glo Ukraine" class="lazy lazyload">
                    </a>
                    <a href="https://www.instagram.com/p/B_mJk_cp3if/" target="_blank">
                      <img data-src={{"insta_2020_2.jpg" | asset_url }} alt="Instagram glo Ukraine" class="lazy lazyload">
                    </a>
                    
                  </div>
                  <div class="instb__col instb__col--two">
                    <a href="https://www.instagram.com/p/B_iB2NaJdQo/" target="_blank">
                      <img data-src={{"insta_2020_3.jpg" | asset_url }} alt="Instagram glo Ukraine" class="lazy lazyload">
                    </a>
                    <a href="https://www.instagram.com/p/B_SddOKJ6W5/" target="_blank">
                      <img data-src={{"insta_2020_4.jpg" | asset_url }} alt="Instagram glo Ukraine" class="lazy lazyload">
                    </a>
                    <a href="https://www.instagram.com/p/B-zXKymho90/" target="_blank">
                      <img data-src={{"insta_2020_5.jpg" | asset_url }} alt="Instagram glo Ukraine" class="lazy lazyload">
                    </a>
                    <a href="https://www.instagram.com/p/B-on1HQBw1o/" target="_blank">
                      <img data-src={{"insta_2020_6.jpg" | asset_url }} alt="Instagram glo Ukraine" class="lazy lazyload">
                    </a>
                  </div>
                  <div class="instb__col instb__col--three">
                  	<a href="https://www.instagram.com/p/B-Joo9Ahbw8/" target="_blank">
                      <img data-src={{"insta_2020_7.jpg" | asset_url }} alt="Instagram glo Ukraine" class="lazy lazyload">
                    </a>
                    <a href="https://www.instagram.com/p/B91dUaeB61_/" target="_blank">
                      <img data-src={{"insta_2020_8.jpg" | asset_url }} alt="Instagram glo Ukraine" class="lazy lazyload">
                    </a>
                    <a href="https://www.instagram.com/p/B9UGnQ6BiiE/" target="_blank">
                      <img data-src={{"insta_2020_9.jpg" | asset_url }} alt="Instagram glo Ukraine" class="lazy lazyload">
                    </a> 
                  </div>
                  
                 </div>

            </div>
        </div>
        </div>
    </div>
</div>
{%comment%}
<script src={{ "instafeed.min.js" | asset_url }}></script>
{%endcomment%}