<!-- product slider (left img right text) -->
<div class="container-fliud block-mb home-ps">
    <div class="container home-ps--relative">
      <h2 class="home-ps__title fff none-border-after">ЛІНІЙКА glo<span class="TM">TM</span></h2>
    </div>

    <div class="container lazy slick-slider home__product-slider slider">
      <div>
        <div class="home-ps__slider">
          <div class="home-ps__slider--img">
            <img data-src={{ "home_ps_glo-hyper.png" | asset_url }} alt="glo Hyper" class="lazyload lazypreload">            
          </div>
          <div class="home-ps__slider--descr">
            <h3 class="fff">glo<span class="TM">TM</span> HYPER</h3>

            <div class="info-product">
              <div class="info-product__item">
                <img src={{ "complete-keyline.svg" | asset_url }} alt="Новий ДЕМІ формат">
                <p class="fff">Новий формат стіків Демі</p>
              </div>
              <div class="info-product__item">
                <img src={{ "complete-keyline.svg" | asset_url }} alt="На 15% ширший стік">
                <p class="fff">На 30% більше тютюну, більше насиченого смаку***</p>
              </div>
              <div class="info-product__item">
                <img src={{ "complete-keyline.svg" | asset_url }} alt="На 30% більше тютюну">
                <p class="fff">Потужна індукційна технологія та режим Boost для керування інтенсивністю смаку</p>
              </div>
            </div>

            <div class="home-ps__slider--btns">
            	<a href="/pages/glo-hyper" class="btn btn-primary btn--secondary-light">
                  Дізнатися більше
                </a>
                <!--<a href="/collections/starter-kit/products/glo-pro-kit" class="btn btn--link">
                  Порівняти пристрої
                </a>-->
            </div>
            
            

          </div>
        </div>
      </div>

      <div>
        <div class="home-ps__slider">
          <div class="home-ps__slider--img">
            <img data-src={{ "pro_product-slider.jpg" | asset_url }} alt="glo pro" class="lazyload lazypreload">            
          </div>
          <div class="home-ps__slider--descr">
            <h3 class="fff">glo<span class="TM">TM</span> PRO</h3>

            <div class="info-product">
              <div class="info-product__item">
                <img src={{ "complete-keyline.svg.png" | asset_url }} alt="Новий ДЕМІ формат">
                <p class="fff">Формат стіків Нано</p>
              </div>
              <div class="info-product__item">
                <img src={{ "complete-keyline.svg" | asset_url }} alt="На 15% ширший стік">
                <p class="fff">Делікатний смак тютюну</p>
              </div>
              <div class="info-product__item">
                <img src={{ "complete-keyline.svg" | asset_url }} alt="На 15% ширший стік">
                <p class="fff">До 20 сесій поспіль на одному заряді</p>
              </div>
            </div>
			
            <div class="home-ps__slider--btns">
            	<a href="/pages/glo-pro" class="btn btn-primary btn--secondary-light">
                  Дізнатися більше
                </a> 
              
              	<!--<a href="/collections/starter-kit/products/glo-pro-kit" class="btn btn--link">
                  Порівняти пристрої
                </a>-->
            </div>
            

          </div>
        </div>
      </div>
{%comment%}
      <div>
        <div class="home-ps__slider">
          <div class="home-ps__slider--img">
            <img data-src={{ "nano_product-slider.jpg" | asset_url }} alt="glo nano" class="lazyload lazypreload">            
          </div>
          <div class="home-ps__slider--descr">
            <h3 class="fff">glo<span class="TM">TM</span> NANO</h3>

            <div class="info-product">
              <div class="info-product__item">
                <img src={{ "complete-keyline.svg" | asset_url }} alt="Новий ДЕМІ формат">
                <p class="fff">Формат стіків Нано</p>
              </div>
              <div class="info-product__item">
                <img src={{ "complete-keyline.svg" | asset_url }} alt="Новий ДЕМІ формат">
                <p class="fff">Легкий, компактний, зручний</p>
              </div>
              <div class="info-product__item">
                <img src={{ "complete-keyline.svg" | asset_url }} alt="Новий ДЕМІ формат">
                <p class="fff">Стильний дизайн, яскраві кольори</p>
              </div>
            </div>

            <div class="home-ps__slider--btns">
            	<a href="/pages/glo-nano" class="btn btn-primary btn--secondary-light">
                  Дізнатися більше
                </a>
              
              	<!--<a href="/collections/starter-kit/products/glo-pro-kit" class="btn btn--link">
                  Порівняти пристрої
                </a>-->
            </div>
            

          </div>
        </div>
      </div>
{%endcomment%}
    </div>
</div>