<!-- home page slider -->
<div class="container-fliud">
  <div class="lazy lazyload slick-slider index-slider slider">
    <div class="row">
    	<div class="col-lg-16">
          <div class="container-fuid">
            <div class="row">
              <div class="col-lg-16 index-slider__slide hidden-sm hidden-xs" style="padding-top: 0 !important;">
                <a href="/products/glo-pro-kit?utm_source=index_slider&utm_medium=display&utm_campaign=special_price&utm_campaign=pro-kit">
               		<img data-src="{{ "glo_pro_offer_lg-min.png" | asset_url }}" class="lazyload" alt="Спеціальна пропозиція glo">
                </a>
                
              </div>
              <div class="col-lg-16 index-slider__slide hidden-lg hidden-md" style="padding-top: 0 !important;">
                <a href="/products/glo-pro-kit?utm_source=index_slider&utm_medium=display&utm_campaign=special_price&utm_campaign=pro-kit">
               	<img data-src="{{ "glo_pro_offer_xs-min.png" | asset_url }}" class="lazyload" alt="Спеціальна пропозиція glo">
                </a>
              </div>
            </div>
          </div>
        </div>
	</div>
	<div class="row">
    	<div class="col-lg-16">
          <div class="container-fuid">
            <div class="row">
              <div class="col-lg-16 index-slider__slide hidden-sm hidden-xs" style="padding-top: 0 !important;">
                <a href="/collections/all?utm_source=index_slider&utm_medium=display&utm_campaign=special_price&utm_campaign=devices">
               		<img data-src="{{ "special_offer_april_lg-min.png" | asset_url }}" class="lazyload" alt="Спеціальна пропозиція glo">
                </a>
                
              </div>
              <div class="col-lg-16 index-slider__slide hidden-lg hidden-md" style="padding-top: 0 !important;">
                <a href="/collections/all?utm_source=index_slider&utm_medium=display&utm_campaign=special_price&utm_campaign=devices">
               	<img data-src="{{ "special_offer_april_xs-min.png" | asset_url }}" class="lazyload" alt="Спеціальна пропозиція glo">
                </a>
              </div>
            </div>
          </div>
        </div>
	</div>
    <div class="row">
    	<div class="col-lg-16">
          <div class="container-fuid">
            <div class="row">
              <div class="col-lg-16 index-slider__slide hidden-sm hidden-xs" style="padding-top: 0 !important;">
                <a href="/collections/accessories?utm_source=index_slider&utm_medium=display&utm_campaign=accessories_consideration&utm_campaign=accessories">
               	<img data-src="{{ "slide_accessories_1-min.png" | asset_url }}" class="lazyload" alt="Оновлена лінійка аксесуарів glo">
                </a>
                <h2 class="slide_title__h1">Оновлена<br>лінійка<br>аксесуарів</h2>
                <div class="slide_btn__act">
                  <a href="/collections/accessories?utm_source=index_slider&utm_medium=display&utm_campaign=accessories_consideration&utm_campaign=accessories">
                    <button class="btn btn-transp" tabindex="0">Замовити</button>
                  </a>
                </div>
              </div>
              <div class="col-lg-16 index-slider__slide hidden-lg hidden-md" style="padding-top: 0 !important;">
                <a href="/collections/accessories?utm_source=index_slider&utm_medium=display&utm_campaign=accessories_consideration&utm_campaign=accessories">
               	<img data-src="{{ "slide_mob_accessories_1-min.png" | asset_url }}" class="lazyload" alt="Оновлена лінійка аксесуарів glo">
                </a>
                <h2 class="slide_title__h1">Оновлена<br>лінійка<br>аксесуарів</h2>
                <div class="slide_btn__act">
                  <a href="/collections/accessories?utm_source=index_slider&utm_medium=display&utm_campaign=accessories_consideration&utm_campaign=accessories">
                    <button class="btn btn-transp" tabindex="0">Замовити</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
	</div>
    <div class="row">
    	<div class="col-lg-16">
          <div class="container-fuid">
            <div class="row">
              <div class="col-lg-16 index-slider__slide hidden-sm hidden-xs" style="padding-top: 0 !important;">
               	<a href="/collections/accessories?utm_source=index_slider&utm_medium=display&utm_campaign=accessories-case_consideration&utm_campaign=accessories-case">
                  <img data-src="{{ "slide_accessories_2-min.png" | asset_url }}" class="lazyload" alt="Нові стильні чохли для glo pro">
                </a>
                <h2 class="slide_title__h1">Підкресли свою<br>індивідуальність</h2>
                <div class="slide_desc__p">Нові стильні чохли для glo pro</div>
                <div class="slide_btn__act">
                  <a href="/collections/accessories?utm_source=index_slider&utm_medium=display&utm_campaign=accessories-case_consideration&utm_campaign=accessories-case">
                    <button class="btn btn-transp" tabindex="0">Замовити</button>
                  </a>
                </div>
              </div>
              <div class="col-lg-16 index-slider__slide hidden-lg hidden-md" style="padding-top: 0 !important;">
                <a href="/collections/accessories?utm_source=index_slider&utm_medium=display&utm_campaign=accessories-case_consideration&utm_campaign=accessories-case">
               	<img data-src="{{ "slide_mob_accessories_2-min.png" | asset_url }}" class="lazyload" alt="Нові стильні чохли для glo pro">
                </a>
                <h2 class="slide_title__h1">Підкресли свою<br>індивідуальність</h2>
                <div class="slide_btn__act">
                  <a href="/collections/accessories?utm_source=index_slider&utm_medium=display&utm_campaign=accessories-case_consideration&utm_campaign=accessories-case">
                    <button class="btn btn-transp" tabindex="0">Замовити</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
	</div>
    
    <div class="row">
    	<div class="col-lg-16">
          <div class="container-fuid">
            <div class="row">
              <div class="col-lg-16 index-slider__slide hidden-sm hidden-xs" style="padding-top: 0 !important;">
               	<a href="/pages/glo-nano?utm_source=index_slider&utm_medium=display&utm_campaign=nano_consideration&utm_campaign=nano_new_color">
                	<img data-src="{{ "slider-nano_lg-min.png" | asset_url }}" class="lazyload" alt="glo nano">
                </a>
                <h2 class="slide_title__h1 fff">Кольори на<br>максимум!</h2>
                <div class="slide_desc__p fff">Нові пристрої glo nano</div>
                <div class="slide_btn__act">
                  <a href="/pages/glo-nano?utm_source=index_slider&utm_medium=display&utm_campaign=nano_consideration&utm_campaign=nano_new_color">
                    <button class="btn btn-primary btn--secondary-light" tabindex="0">Замовити</button>
                  </a>
                </div>
              </div>
              <div class="col-lg-16 index-slider__slide hidden-lg hidden-md" style="padding-top: 0 !important;">
                <a href="/pages/glo-nano?utm_source=index_slider&utm_medium=display&utm_campaign=nano_consideration&utm_campaign=nano_new_color">
               	<img data-src="{{ "slider-nano_xs-min.png" | asset_url }}" class="lazyload" alt="glo nano">
                </a>
                <h2 class="slide_title__h1 fff">Кольори на<br>максимум!</h2>
                <!--<div class="slide_desc__p fff">Нові пристрої glo nano</div>-->
                <div class="slide_btn__act">
                  <a href="/pages/glo-nano?utm_source=index_slider&utm_medium=display&utm_campaign=nano_consideration&utm_campaign=nano_new_color">
                    <button class="btn  btn-primary btn--secondary-light" tabindex="0">Замовити</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
	</div>
    <div class="row">
    	<div class="col-lg-16">
          <div class="container-fuid">
            <div class="row">
              <div class="col-lg-16 index-slider__slide hidden-sm hidden-xs" style="padding-top: 0 !important;">
                <a href="/collections/starter-kit/products/glo-pro-kit?utm_source=index_slider&utm_medium=display&utm_campaign=glo-pro_consideration&utm_campaign=glo-pro">
               	<img data-src="{{ "slider-pro_lg-min.png" | asset_url }}" class="lazyload" alt="Новий прогресивний glo pro">
                </a>
                <h2 class="slide_title__h1 fff">Новий<br> прогресивний<br> glo pro</h2>
                <div class="slide_btn__act">
                  <a href="/collections/starter-kit/products/glo-pro-kit?utm_source=index_slider&utm_medium=display&utm_campaign=glo-pro_consideration&utm_campaign=glo-pro">
                    <button class="btn  btn-primary btn--secondary-light" tabindex="0">Замовити</button>
                  </a>
                </div>
              </div>
              <div class="col-lg-16 index-slider__slide hidden-lg hidden-md" style="padding-top: 0 !important;">
                <a href="/collections/starter-kit/products/glo-pro-kit?utm_source=index_slider&utm_medium=display&utm_campaign=glo-pro_consideration&utm_campaign=glo-pro">
               	<img data-src="{{ "slider-pro_xs-min.png" | asset_url }}" class="lazyload" alt="Новий прогресивний glo pro">
                </a>  
                <h2 class="slide_title__h1 fff">Новий<br> прогресивний<br> glo pro</h2>
                <div class="slide_btn__act">
                  <a href="/collections/starter-kit/products/glo-pro-kit?utm_source=index_slider&utm_medium=display&utm_campaign=glo-pro_consideration&utm_campaign=glo-pro">
                    <button class="btn  btn-primary btn--secondary-light" tabindex="0">Замовити</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
	</div>
    
    
    
</div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
