<!-- home page slider -->
<div class="container-fliud block-mb">
  <div class=" index-slider index-slider__homepage">
    <div>

      <div class="index-slider__slide  hidden-xs" style="padding-top: 0 !important;">
        <a href="{{ pages['glo-hyper'].url }}" class="index-slide__img js-gtm-click-main-slider">
          <img data-lazy="{{ "demi_slider.jpg" | asset_url }}" class="" alt="glo HYPER">
        </a>
        <div class="index-slide__descr">
          <h2 class="descr__h2 fff"><span class="fw-600">{{ 'top-slider_title-hyper' | t }}</span> glo<span class="TM">TM</span> HYPER<br><span class="fw-600">{{ 'top-slider_title-demi' | t }}</span></h2>
          <div class="descr__btns">
            <a href="{{ pages['glo-hyper'].url }}" class="btn btn-primary btn--secondary-light js-gtm-click-main-slider">
              {{ 'top-slider_btn-more' | t }}
            </a>
            <a href="/products/glo-hyper-kit" class="btn btn-primary btn--secondary-light js-gtm-click-main-slider">
              {{ 'top-slider_btn-buy' | t }}
            </a>
          </div>
        </div>
        <div class="banner-warn">{{ 'top-slider_text-hw' | t }}</div>
      </div>

      <div class="col-lg-16 index-slider__slide hidden-lg hidden-md hidden-sm" style="padding-top: 0 !important;">
        <a href="{{ pages['glo-hyper'].url }}" class="index-slide__img js-gtm-click-main-slider">
          <img data-lazy="{{ "demi_slider-sm.png" | asset_url }}" class="" alt="glo HYPER mobile">
        </a>
        <h2 class="descr__h2 fff">
          <span class="fw-600">{{ 'top-slider_title-hyper' | t }}</span> glo
          <span class="TM">TM</span> HYPER<br>
          <span class="fw-600">{{ 'top-slider_title-demi' | t }}</span></h2>

        <div class="descr__btns">
          <a href="{{ pages['glo-hyper'].url }}" class="btn btn-primary btn--secondary-light js-gtm-click-main-slider">
            {{ 'top-slider_btn-more' | t }}
          </a>
          <a href="/products/glo-hyper-kit" class="btn btn-primary btn--secondary-light js-gtm-click-main-slider">
            {{ 'top-slider_btn-buy' | t }}
          </a>
        </div>
        <div class="banner-warn-xs">{{ 'top-slider_text-hw' | t }}</div>
      </div>

    </div>
    
    <div>

      <div class="index-slider__slide  hidden-xs" style="padding-top: 0 !important;">
        <a href="/products/neo-sticks-glo-hyper" class="index-slide__img">
          <img data-lazy="{{ "slider_t_desc.jpg" | asset_url }}" class="" alt="glo HYPER STICK">
        </a>
        <div class="index-slide__descr index-slide__descr__left">
          <h2 class="descr__h2 fff">
            <span class="fw-600">{{ 'top-slider_title-hyper' | t }}<br/>{{ 'top-slider_title-format-demi' | t }}<br/> ДЛЯ</span> glo<span class="TM">TM</span> HYPER
            <span class="fw-300">{{ 'top-slider_title-new-level' | t }}</span>
          </h2>

          <div class="descr__btns">
            <a href="{{ pages['glo-hyper'].url }}" class="btn btn-primary btn--secondary-light">
              {{ 'top-slider_btn-more' | t }}
            </a>
          </div>
        </div>
        <div class="banner-warn banner-warn_left">{{ 'top-slider_text-hw' | t }}</div>
      </div>

      <div class="col-lg-16 index-slider__slide hidden-lg hidden-md hidden-sm" style="padding-top: 0 !important;">
        <a href="#" class="index-slide__img">
          <img data-lazy="{{ "slider_t_mob.jpg" | asset_url }}" class="lazyload" alt="glo HYPER STICK mobile">
        </a>
        <h2 class="descr__h2 fff descr__h2__new">
          <span class="fw-600">{{ 'top-slider_title-demi' | t }}<br/> ДЛЯ</span> glo<span class="TM">TM</span> HYPER
          <span class="fw-300">{{ 'top-slider_title-new-level' | t }}</span>
        </h2>

        <div class="descr__btns">
          <a href="{{ pages['glo-hyper'].url }}" class="btn btn-primary btn--secondary-light">
            {{ 'top-slider_btn-more' | t }}
          </a>
        </div>
        <div class="banner-warn-xs">{{ 'top-slider_text-hw' | t }}</div>
      </div>

    </div>

    <div>

      <div class="index-slider__slide  hidden-xs" style="padding-top: 0 !important;">
        <a href="/products/neo-sticks-glo-hyper" class="index-slide__img">
          <img data-lazy="{{ "hyper_slider_colors_x2.jpg" | asset_url }}" class="lazyload" alt="glo HYPER Colors">
        </a>
        <div class="index-slide__descr index-slide__descr__left index-slide__descr--w500 text-left">
          <h2 class="descr__h2 fff">
            <span class="fw-600">
              {{ 'top-slider_title-bright' | t }}<br/> {{ 'top-slider_title-line-colors' | t }}</span><br/> glo<span class="TM">TM</span> HYPER

          </h2>

          <div class="descr__btns">
            <a href="{{ pages['glo-hyper'].url }}" class="btn btn-primary btn--secondary-light">
              {{ 'top-slider_btn-more' | t }}
            </a>
          </div>
        </div>
        <div class="banner-warn banner-warn_left">{{ 'top-slider_text-hw' | t }}</div>
      </div>

      <div class="index-slider__slide hidden-lg hidden-md hidden-sm" style="padding-top: 0 !important;">
        <a href="#" class="index-slide__img">
          <img data-lazy="{{ "hyper_slider_colors_mob_1000.jpg" | asset_url }}" class="lazyload" alt="glo HYPER Colors mobile">
        </a>
        <h2 class="descr__h2 fff descr__h2__new">
          <span class="fw-600">{{ 'top-slider_title-bright' | t }} {{ 'top-slider_title-line-colors' | t }}</span> glo<span class="TM">TM</span>
        </h2>

        <div class="descr__btns">
          <a href="{{ pages['glo-hyper'].url }}" class="btn btn-primary btn--secondary-light">
            {{ 'top-slider_btn-more' | t }}
          </a>
        </div>
        <div class="banner-warn-xs">{{ 'top-slider_text-hw' | t }}</div>
      </div>

    </div>

    <div class="index-slide--girl">


      <div class="index-slider__slide  hidden-xs" style="padding-top: 0 !important;">
        <a href="/products/glo-pro?variant=31790201241734" class="index-slide__img">
          <img data-lazy="{{ "homepage-slider--girl.jpg" | asset_url }}" class="lazyload" alt="glo PRO Girl">
        </a>
        <div class="index-slide__descr index-slide__descr__left text-left">                

          <div class="descr__btns">
            <a href="/products/glo-pro?variant=31790201241734" class="btn btn-primary btn--secondary-light">
              НОВІ ВІДТІНКИ <span>glo™</span> PRO
            </a>
          </div>
        </div>
        <div class="banner-warn banner-warn_left">{{ 'top-slider_text-hw' | t }}</div>
      </div>

      <div class="index-slider__slide hidden-lg hidden-md hidden-sm" style="padding-top: 0 !important;">
        <a href="#" class="index-slide__img">
          <img data-lazy="{{ "homepage-slider--girl-mob.jpg" | asset_url }}" class="lazyload" alt="glo PRO Girl mobile">
        </a>

        <div class="descr__btns">
          <a href="{{ pages['glo-pro'].url }}" class="btn btn-primary btn--secondary-light">
            НОВІ ВІДТІНКИ <span>glo™</span> PRO
          </a>
        </div>
        <div class="banner-warn-xs">{{ 'top-slider_text-hw' | t }}</div>
      </div>

    </div>
    
  </div>
</div>

{% schema %}
  {
	"locales": {
      "uk": {
        "top-slider_title-hyper": "НОВИЙ",
		"top-slider_title-new-level": "Новий рівень насичення",
		"top-slider_title-demi": "НОВИЙ ФОРМАТ ДЕМІ",
		"top-slider_title-format-demi": "ФОРМАТ ДЕМІ",
		"top-slider_btn-more": "ДІЗНАТИСЯ БІЛЬШЕ",
		"top-slider_btn-buy": "КУПИТИ",
		"top-slider_title-bright": "ЯСКРАВА",
		"top-slider_title-line-colors": "ЛІНІЙКА КОЛЬОРІВ",
		"top-slider_text-hw": "Тютюновмісні вироби не є цілком безпечними і викликають звикання"
      		},
      "ru": {
		"top-slider_title-hyper": "НОВЫЙ",
		"top-slider_title-new-level": "Новый уровень насыщения",
		"top-slider_title-demi": "НОВЫЙ ФОРМАТ ДЕМИ",
		"top-slider_title-format-demi": "ФОРМАТ ДЕМИ",
		"top-slider_btn-more": "УЗНАТЬ БОЛЬШЕ",
		"top-slider_btn-buy": "КУПИТЬ",
		"top-slider_title-bright": "ЯРКАЯ",
		"top-slider_title-line-colors": "ЛИНЕЙКА ЦВЕТОВ",
		"top-slider_text-hw": "Табачные изделия не являются полностью безопасными и вызывают привыкание"
      		},
      "en": {
		"top-slider_title-hyper": "НОВЫЙ",
		"top-slider_title-new-level": "Новый уровень насыщения",
		"top-slider_title-demi": "НОВЫЙ ФОРМАТ ДЕМИ",
		"top-slider_title-format-demi": "ФОРМАТ ДЕМИ",
		"top-slider_btn-more": "УЗНАТЬ БОЛЬШЕ",
		"top-slider_btn-buy": "КУПИТЬ",
		"top-slider_title-bright": "ЯРКАЯ",
		"top-slider_title-line-colors": "ЛИНЕЙКА ЦВЕТОВ",
		"top-slider_text-hw": "Табачные изделия не являются полностью безопасными и вызывают привыкание"
      		}
  	},

    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
