<div class="container-fliud block-mb">
    <div class="container">
        <div class="row">
          <div class="col-lg-16">
            <div class="text-center social">
                <h2 class="text-center">Приєднуйся до glo<span class="TM">TM</span></h2>
                <div class="social__link text-center">
                    <a class="insta" href="http://instagram.com/glo_ukraine" target="_blank"><img src="//cdn.shopify.com/s/files/1/0265/9932/5730/t/3/assets/instagram-dark.svg?10717" alt="glo_ukraine">@glo_ukraine</a>
                    <a href="https://www.facebook.com/mygloua/" target="_blank"><img src="//cdn.shopify.com/s/files/1/0265/9932/5730/t/3/assets/facebook-dark.svg?10717" alt="mygloua">@mygloua</a>
                </div>

                <div id="instafeed_1" class="masonry">
                  
                  	<a href="https://www.instagram.com/p/B81Y1vVhwsB/" target="_blank">
                      <img data-src={{"insta_Feb_001.jpg" | asset_url }} alt="Instagram glo Ukraine" class="lazy lazyload">
                    </a>
                    <a href="https://www.instagram.com/p/B8qiaN8hEl2/" target="_blank">
                      <img data-src={{"insta_Feb_002.jpg" | asset_url }} alt="Instagram glo Ukraine" class="lazy lazyload">
                    </a>
                    
                  
                    <a href="https://www.instagram.com/p/B8VxgUNh2r3/" target="_blank">
                      <img data-src={{"83340311_2020423334770930_2491051228257528784_n.jpg" | asset_url }} alt="Instagram glo Ukraine" class="lazy lazyload">
                    </a>
                    <a href="https://www.instagram.com/p/B89Sfy9BwMY/" target="_blank">
                      <img data-src={{"insta_Feb_003.jpg" | asset_url }} alt="Instagram glo Ukraine" class="lazy lazyload">
                    </a>
                    <a href="https://www.instagram.com/p/B8MVLyehSwL/" target="_blank">
                      <img data-src={{"82672797_100868838131246_1238605990296587076_n.jpg" | asset_url }} alt="Instagram glo Ukraine" class="lazy lazyload">
                    </a>
                    <a href="https://www.instagram.com/p/B8Jg_z1BN6Z/" target="_blank">
                      <img data-src={{"83517848_124738852141747_1535264037523982591_n.jpg" | asset_url }} alt="Instagram glo Ukraine" class="lazy lazyload">
                    </a>
                  
                  	<a href="https://www.instagram.com/p/B8D3Xe8hVza/" target="_blank">
                      <img data-src={{"82788959_802918870176049_4316727420497905013_n.jpg" | asset_url }} alt="Instagram glo Ukraine" class="lazy lazyload">
                    </a>
                    <a href="https://www.instagram.com/p/B78cxBVh0PG/" target="_blank">
                      <img data-src={{"83885852_1038040396563402_3008362129912791386_n.jpg" | asset_url }} alt="Instagram glo Ukraine" class="lazy lazyload">
                    </a>
                    <a href="https://www.instagram.com/p/B8ye8lIBN8v/" target="_blank">
                      <img data-src={{"insta_Feb_004.jpg" | asset_url }} alt="Instagram glo Ukraine" class="lazy lazyload">
                    </a> 
                  
                  
                 </div>

            </div>
        </div>
        </div>
    </div>
</div>
{%comment%}
<script src={{ "instafeed.min.js" | asset_url }}></script>
{%endcomment%}