<section class="nativ-city">
  
  <div class="nativ-city__slider">

    <div class="nativ-city__item nativ-city__item--1">
      <div class="nativ-city__item--wrapper">
        <div class="item-img">
          <img src={{ "nativ-city_img-1.png" | asset_url }}/>
        </div>

        <div class="item-descr">
          <div class="item-descr__name">{{ 'nativ-city_1' | t }}</div>
          <p>{{ 'nativ-city_1-text' | t }}</p>
          <a href="" class="btn btn--secondary-light btn--nativ">{{ 'nativ-city_btn' | t }}</a>
        </div>
      </div>      
    </div>
    
    <div class="nativ-city__item nativ-city__item--2">
      <div class="nativ-city__item--wrapper">
        <div class="item-img">
          <img src={{ "nativ-city_img-2.png" | asset_url }}/>
        </div>

        <div class="item-descr">
          <div class="item-descr__name">{{ 'nativ-city_2' | t }}</div>
          <p>{{ 'nativ-city_2-text' | t }}</p>
          <a href="" class="btn btn--secondary-light btn--nativ">{{ 'nativ-city_btn' | t }}</a>
        </div>
      </div>      
    </div>
    
    <div class="nativ-city__item nativ-city__item--3">
      <div class="nativ-city__item--wrapper">
        <div class="item-img">
          <img src={{ "nativ-city_img-3.png" | asset_url }}/>
        </div>

        <div class="item-descr">
          <div class="item-descr__name">{{ 'nativ-city_3' | t }}</div>
          <p>{{ 'nativ-city_3-text' | t }}</p>
          <a href="" class="btn btn--secondary-light btn--nativ">{{ 'nativ-city_btn' | t }}</a>
        </div>
      </div>      
    </div>
    
    <div class="nativ-city__item nativ-city__item--4">
      <div class="nativ-city__item--wrapper">
        <div class="item-img">
          <img src={{ "nativ-city_img-4.png" | asset_url }}/>
        </div>

        <div class="item-descr">
          <div class="item-descr__name">{{ 'nativ-city_4' | t }}</div>
          <p>{{ 'nativ-city_4-text' | t }}</p>
          <a href="" class="btn btn--secondary-light btn--nativ">{{ 'nativ-city_btn' | t }}</a>
        </div>
      </div>      
    </div>
    
    <div class="nativ-city__item nativ-city__item--5">
      <div class="nativ-city__item--wrapper">
        <div class="item-img">
          <img src={{ "nativ-city_img-5.png" | asset_url }}/>
        </div>

        <div class="item-descr">
          <div class="item-descr__name">{{ 'nativ-city_5' | t }}</div>
          <p>{{ 'nativ-city_5-text' | t }}</p>
          <a href="" class="btn btn--secondary-light btn--nativ">{{ 'nativ-city_btn' | t }}</a>
        </div>
      </div>      
    </div>
  	
  </div>

</section>

{% schema %}
  {
	"locales": {
      "uk": {
        "nativ-city_btn": "Замовити",
        "nativ-city_1": "Лондон",
        "nativ-city_1-text": "Це мультикультурне місто міксує традиції з прогресом та ідеями: від хіп-хопа в Іст-Енді до мюзиклів у Ковент-гардені. Фіш-н-чіпс і пінта пива. Об'єднані в різноманітті.",
        "nativ-city_2": "РІО",
        "nativ-city_2-text": "На створення дизайну цього пристрою нас надихнули різнобарвні карнавали та запальні танці. Величезний пляж Копакабана, коктейлі, самба – це лише частина того, що можна знайти у яскравому Ріо.",
        "nativ-city_3": "Нью-Йорк",
        "nativ-city_3-text": "Відчуй атмосферу величезних хмарочосів, що розтягнулися від Першого Авеню до району Бронкс. Енергійний натовп, хот-доги, хіп-хоп, спалахи жовтого таксі. Це місто, яке ніколи не спить.",
        "nativ-city_4": "ТОКІО",
        "nativ-city_4-text": "Від самураїв до модного району Шибуя – традиції минулого чудово поєднуються з енергією майбутнього. Тут ти можеш зустріти як футуристичні потяги, так і древні храми, що сяють у сучасному неоновому світлі.",
        "nativ-city_5": "БАРСЕЛОНА",
        "nativ-city_5-text": "Енергійне місто, що купається в променях сонця. Барселона чудово поєднує старе з новим, а на вулицях вирують мистецтво, музика та гучний сміх"
      		},
      "ru": {
        "nativ-city_btn": "Замовити",
        "nativ-city_1": "Лондон",
        "nativ-city_1-text": "Це мультикультурне місто міксує традиції з прогресом та ідеями: від хіп-хопа в Іст-Енді до мюзиклів у Ковент-гардені. Фіш-н-чіпс і пінта пива. Об'єднані в різноманітті.",
        "nativ-city_2": "РІО",
        "nativ-city_2-text": "На створення дизайну цього пристрою нас надихнули різнобарвні карнавали та запальні танці. Величезний пляж Копакабана, коктейлі, самба – це лише частина того, що можна знайти у яскравому Ріо.",
        "nativ-city_3": "Нью-Йорк",
        "nativ-city_3-text": "Відчуй атмосферу величезних хмарочосів, що розтягнулися від Першого Авеню до району Бронкс. Енергійний натовп, хот-доги, хіп-хоп, спалахи жовтого таксі. Це місто, яке ніколи не спить.",
        "nativ-city_4": "ТОКІО",
        "nativ-city_4-text": "Від самураїв до модного району Шибуя – традиції минулого чудово поєднуються з енергією майбутнього. Тут ти можеш зустріти як футуристичні потяги, так і древні храми, що сяють у сучасному неоновому світлі.",
        "nativ-city_5": "БАРСЕЛОНА",
        "nativ-city_5-text": "Енергійне місто, що купається в променях сонця. Барселона чудово поєднує старе з новим, а на вулицях вирують мистецтво, музика та гучний сміх"
      		},
      "en": {		
        "nativ-city_btn": "Замовити",
        "nativ-city_1": "Лондон",
        "nativ-city_1-text": "Це мультикультурне місто міксує традиції з прогресом та ідеями: від хіп-хопа в Іст-Енді до мюзиклів у Ковент-гардені. Фіш-н-чіпс і пінта пива. Об'єднані в різноманітті.",
        "nativ-city_2": "РІО",
        "nativ-city_2-text": "На створення дизайну цього пристрою нас надихнули різнобарвні карнавали та запальні танці. Величезний пляж Копакабана, коктейлі, самба – це лише частина того, що можна знайти у яскравому Ріо.",
        "nativ-city_3": "Нью-Йорк",
        "nativ-city_3-text": "Відчуй атмосферу величезних хмарочосів, що розтягнулися від Першого Авеню до району Бронкс. Енергійний натовп, хот-доги, хіп-хоп, спалахи жовтого таксі. Це місто, яке ніколи не спить.",
        "nativ-city_4": "ТОКІО",
        "nativ-city_4-text": "Від самураїв до модного району Шибуя – традиції минулого чудово поєднуються з енергією майбутнього. Тут ти можеш зустріти як футуристичні потяги, так і древні храми, що сяють у сучасному неоновому світлі.",
        "nativ-city_5": "БАРСЕЛОНА",
        "nativ-city_5-text": "Енергійне місто, що купається в променях сонця. Барселона чудово поєднує старе з новим, а на вулицях вирують мистецтво, музика та гучний сміх"
      		}
  	},

    "name": "Section name",
    "settings": []
  }
{% endschema %}