<section class="about-use">


  <div class="container">
    <h2>{{ 'about-use_title' | t }}</h2>

    <div class="about-use__slider">

      <div class="about-use__item">
        <div class="about-use__wrapper">
          <div class="about-use__img"><img src={{ "how-to-use-1_w.png" | asset_url }} alt="{{ 'about-use_title' | t }}"></div>        
          <div class="about-use__descr">
            <div>
              <h3><span>1</span><div>{{ 'about-use_step-name-1' | t }}</div></h3>
              <p>{{ 'about-use_step-text-1' | t }}</p>
            </div>
            <!--           <a href="" class="about-use__btn slider__btn js-open-movie">ВІДЕО</a> -->
          </div>
        </div>

      </div>

      <div class="about-use__item">
        <div class="about-use__wrapper">
          <div class="about-use__img"><img src={{ "how-to-use-2_w.png" | asset_url }} alt="{{ 'about-use_title' | t }}"></div>        
          <div class="about-use__descr">
            <div>
              <h3><span>2</span><div>{{ 'about-use_step-name-2' | t }}</div></h3>
              <p>{{ 'about-use_step-text-2' | t }}</p>
            </div>
            <!--           <a href="" class="about-use__btn slider__btn js-open-movie">ВІДЕО</a> -->
          </div>
        </div>

      </div>

      <div class="about-use__item">
        <div class="about-use__wrapper">
          <div class="about-use__img"><img src={{ "how-to-use-3_w.png" | asset_url }} alt="{{ 'about-use_title' | t }}"></div>        
          <div class="about-use__descr">
            <div>
              <h3><span>3</span><div>{{ 'about-use_step-name-3' | t }}</div></h3>
              <p>{{ 'about-use_step-text-3' | t }}</p>
            </div>
            <!--           <a href="" class="about-use__btn slider__btn js-open-movie">ВІДЕО</a> -->
          </div>
        </div>

      </div>

      <div class="about-use__item">
        <div class="about-use__wrapper">
          <div class="about-use__img"><img src={{ "how-to-use-4_w.png" | asset_url }} alt="{{ 'about-use_title' | t }}"></div>        
          <div class="about-use__descr">
            <div>
              <h3><span>4</span><div>{{ 'about-use_step-name-4' | t }}</div></h3>
              <p>{{ 'about-use_step-text-4' | t }}</p>
            </div>
            <!--           <a href="" class="about-use__btn slider__btn js-open-movie">ВІДЕО</a> -->
          </div>
        </div>

      </div>

      <div class="about-use__item">
        <div class="about-use__wrapper">
          <div class="about-use__img"><img src={{ "how-to-use-5_w.png" | asset_url }} alt="{{ 'about-use_title' | t }}"></div>        
          <div class="about-use__descr">
            <div>
              <h3><span>5</span><div>{{ 'about-use_step-name-5' | t }}</div></h3>
              <p>{{ 'about-use_step-text-5' | t }}</p>
            </div>
            <!--           <a href="" class="about-use__btn slider__btn js-open-movie">ВІДЕО</a> -->
          </div>
        </div>

      </div>

      <div class="about-use__item">
        <div class="about-use__wrapper">
          <div class="about-use__img"><img src={{ "how-to-use-6_w.png" | asset_url }} alt="{{ 'about-use_title' | t }}"></div>        
          <div class="about-use__descr">
            <div>
              <h3 class="about-use__descr--nospan"><div>{{ 'about-use_step-name-6' | t }}</div></h3>
              <p>{{ 'about-use_step-text-6' | t }}</p>
            </div>

          </div>
        </div>

      </div>

    </div>

    <div class="about-use__btn-block">
    	<a href="" class="about-use__btn slider__btn js-open-movie">{{ 'about-use_btn' | t }}</a>
    </div>
    

  </div>
</section>

<div class="movie modal-movie">
    <span class="movie__close"></span>
    <div class="movie__video">
      <iframe src="https://player.vimeo.com/video/454320196" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  </div>
</div>

{%comment%}
<div class="container about__how-to-use ">
  <div class="row lr0-xs">
    <div class="col-lg-16">

      <div class="about__slider">
        <div class="slider__item">
          <img src={{ "how-to-use-1.png" | asset_url }} alt="Як користуватися glo">
          <div class="info info-1">
            <div>
              <h3>Встав стік neo<span class="TM">TM</span></h3>
              <p>Відкрий затвор у верхній частині пристрою та плавно встав стік neo™</p>
            </div>
            <a href="" class="c-btn--primary slider__btn js-open-movie">ВІДЕО</a>
          </div>
        </div>
        <div class="slider__item">
          <img src={{ "how-to-use-2.png" | asset_url }} alt="Як користуватися glo">
          <div class="info info-2">
            <div>
              <h3>Натисни кнопку</h3>
              <p>Щоб розпочати процес нагрівання утримуй кнопку. Через 3 секунди glo™ легенько завібрує, сигналізуючи, що можна відпускати кнопку</p>
            </div>
            <a href="" class="c-btn--primary slider__btn js-open-movie">ВІДЕО</a>
          </div>
        </div>
        <div class="slider__item">
          <img src={{ "how-to-use-3.png" | asset_url }} alt="Як користуватися glo">
          <div class="info info-3">
            <div>
              <h3>Зачекай до наступної вібрації</h3>
              <p>Через 40 секунд на пристрої загоряться всі 4 світлові індикатори, glo™ завібрує знову, сповіщаючи, що девайс готовий до використання</p>
            </div>
            <a href="" class="c-btn--primary slider__btn js-open-movie">ВІДЕО</a>
          </div>
        </div>
        <div class="slider__item">
          <img src={{ "how-to-use-4.png" | asset_url }} alt="Як користуватися glo">
          <div class="info info-4">
            <div>
              <h3>Насолоджуйся тютюновим смаком</h3>
              <p>Кожна сесія триває до 3,5 хв. Ближче до завершення цього відрізку часу 3 з 4 індикаторів погаснуть, вказуючи, що сесія добігає кінця</p>
            </div>
            <button class="c-btn--primary slider__btn js-open-movie">ВІДЕО</button>
          </div>
        </div>
        <div class="slider__item">
          <img src={{ "how-to-use-5.png" | asset_url }} alt="Як користуватися glo">
          <div class="info info-5">
            <div>
              <h3>Дістань використаний стік</h3>
              <p>Після завершенні сесії витягни використаний стік з отвору та утилізуй його. Пристрій готовий до наступного використання</p>
            </div>
            <a href="" class="c-btn--primary slider__btn js-open-movie">ВІДЕО</a>
          </div>
        </div>
        <div class="slider__item">
          <img src={{ "how-to-use-6.png" | asset_url }} alt="Як користуватися glo">
          <div class="info info-6">
            <div>
              <h3>Доглядай за пристроєм</h3>
              <p>Не забувай чистити пристрій через кожні 20 сесій аби він працював справно</p>
            </div>
            <a href="" class="c-btn--primary slider__btn js-open-movie">ВІДЕО</a>
          </div>
        </div>

      </div>
      <div class="hw-how-to-use">Тютюновмісні вироби для нагрівання не є цілком безпечними та викликають звикання</div>
    </div>
  </div>
</div>
{%endcomment%}



{% schema %}
  {
	"locales": {
      "uk": {
        "about-use_title": "ЯК КОРИСТУВАТИСЯ glo™",
		"about-use_step-name-1": "Встав стік neo™",
        "about-use_step-text-1": "Відкрий затвор у верхній частині пристрою та плавно встав стік neo™",
        "about-use_step-name-2": "Натисни кнопку",
        "about-use_step-text-2": "Щоб розпочати процес нагрівання утримуй кнопку. Через 3 секунди glo™ легенько завібрує, сигналізуючи, що можна відпускати кнопку",
        "about-use_step-name-3": "Зачекай до наступної вібрації",
        "about-use_step-text-3": "Через 20 секунд на пристрої загоряться всі 4 світлові індикатори, glo™ завібрує знову, сповіщаючи, що девайс готовий до використання",
        "about-use_step-name-4": "Насолоджуйся тютюновим смаком",
        "about-use_step-text-4": "Кожна сесія триває до 4 хв (в режимі Standart). Ближче до завершення цього відрізку часу 3 з 4 індикаторів погаснуть, вказуючи, що сесія добігає кінця",
        "about-use_step-name-5": "Дістань використаний стік",
        "about-use_step-text-5": "Після завершенні сесії витягни використаний стік з отвору та утилізуй його. Пристрій готовий до наступного використання",
        "about-use_step-name-6": "Доглядай за пристроєм",
        "about-use_step-text-6": "Не забувай чистити пристрій через кожні 20 сесій аби він працював справно",
        "about-use_btn": "ВІДЕО"
      		},
      "ru": {
		"about-use_title": "КАК ПОЛЬЗОВАТЬСЯ glo™",
		"about-use_step-name-1": "Вставь стик neo™",
        "about-use_step-text-1": "Открой затвор в верхней части устройства и плавно вставь стик neo™",
        "about-use_step-name-2": "Нажми кнопку",
        "about-use_step-text-2": "Удерживай кнопку, чтобы начать процесс нагревания. Через 3 секунды glo легонько завибрирует, сигнализируя, что можно отпускать кнопку.",
        "about-use_step-name-3": "Подожди до следующей вибрации",
        "about-use_step-text-3": "Через 20 секунд на устройстве загорятся все 4 световых индикатора, glo завибрирует опять, сигнализируя, что девайс готов к использованию",
        "about-use_step-name-4": "Наслаждайся табачным вкусом",
        "about-use_step-text-4": "Каждая сессия длится до 4 минут (в режиме Standart). Ближе к завершению этого отрезка времени 3 из 4 индикаторов погаснут, сигнализируя, что сессия близится к завершению",
        "about-use_step-name-5": "Достань использованный стик",
        "about-use_step-text-5": "После завершения сессии достань использованный стик из отверстия и утилизируй его. Устройство готово к следующей сессии",
        "about-use_step-name-6": "Ухаживай за устройством",
        "about-use_step-text-6": "Не забывай чистить glo через каждый 20 сессий использования, для исправной работы устройства",
        "about-use_btn": "ВИДЕО"
      		},
      "en": {
		"about-use_title": "ЯК КОРИСТУВАТИСЯ glo™",
		"about-use_step-name-1": "Встав стік neo™",
        "about-use_step-text-1": "Відкрий затвор у верхній частині пристрою та плавно встав стік neo™",
        "about-use_step-name-2": "Натисни кнопку",
        "about-use_step-text-2": "Щоб розпочати процес нагрівання утримуй кнопку. Через 3 секунди glo™ легенько завібрує, сигналізуючи, що можна відпускати кнопку",
        "about-use_step-name-3": "Зачекай до наступної вібрації",
        "about-use_step-text-3": "Через 20 секунд на пристрої загоряться всі 4 світлові індикатори, glo™ завібрує знову, сповіщаючи, що девайс готовий до використання",
        "about-use_step-name-4": "Насолоджуйся тютюновим смаком",
        "about-use_step-text-4": "Кожна сесія триває до 4 хв (в режимі Standart). Ближче до завершення цього відрізку часу 3 з 4 індикаторів погаснуть, вказуючи, що сесія добігає кінця",
        "about-use_step-name-5": "Дістань використаний стік",
        "about-use_step-text-5": "Після завершенні сесії витягни використаний стік з отвору та утилізуй його. Пристрій готовий до наступного використання",
        "about-use_step-name-6": "Доглядай за пристроєм",
        "about-use_step-text-6": "Не забувай чистити пристрій через кожні 20 сесій аби він працював справно",
        "about-use_btn": "ВІДЕО"
      		}
  	},

    "name": "Section name",
    "settings": []
  }
{% endschema %}