<div class="container-fliud page-glo-newsticks__bg block-mb">
	<img src={{ "new_stiks_bg-min.png" | asset_url }}>
</div>
<div class="new-stiks container">
  	  <div class="row  new-stiks__top">
        <div class="col-lg-16 block-mb">
          <h1>{{ page.title }}</h1>
          <p>{{ page.content }}</p>
    	</div>
  		</div>
      <div class="row">
        <div class="col-lg-16">
        <h2 class="new-stiks__title">Тютюнові стіки</h2>

        <div class="list">

          <div class="item block-mb">
            <div class="item__wrap">
              <div class="item__cont">
                <h3 class="item__title">
                  <span class="item__title__text">Rich Tobacco</span>
                  <span class="label label_green">Оновлений дизайн</span>
                  <span class="label label_brown">Тютюновий смак</span>
                </h3>
                <div class="item__desc">
                  <p class="item__text">
                    <span>Насичений, оксамитовий смак класичного тютюну</span>
                    <b>Новий яскравий дизайн упаковки</b>
                  </p>
                  <a href="/collections/neosticks/products/neo-sticks?variant=31401761112198" class="item__link btn c-btn--primary">Замовляй зараз</a>
                </div>
              </div>
              <div class="item__preview">
                <span class="item__preview_decor" style="background-image: url({{'rich_bg.png' | asset_url }});"></span>
                <div class="item__image" style="background-image: url({{'rich.png' | asset_url }});">
                  <span class="item__image_old">
                    <span class="item__image_old_wrap" style="background-image: url({{'kent_1_old.png' | asset_url }});"></span>
                  </span>
                </div>
                <div class="item__action">
                  <span class="item__btn active">Стало</span>
                  <span class="item__btn">Було</span>
                </div>
              </div>
            </div>
          </div>

          <div class="item block-mb">
            <div class="item__wrap">
              <div class="item__cont">
                <h3 class="item__title">
                  <span class="item__title__text">Creamy Tobacco</span>
                  <span class="label label_brown">Тютюновий смак</span>
                </h3>
                <div class="item__desc">
                  <p class="item__text">
                    <span>Збалансований та м’який смак класичного тютюну з кремовими відтінками. Солодкий фільтр.</span>
                    <b>Яскравий сучасний дизайн</b>
                  </p>
                  <a href="/collections/neosticks/products/neo-sticks?variant=31308561186950" class="item__link btn c-btn--primary">Замовляй зараз</a>
                </div>
              </div>
              <div class="item__preview">
                <span class="new-label">Новинка</span>
                <span class="item__preview_decor" style="background-image: url({{'creamy_bg.png' | asset_url }});"></span>
                <div class="item__image" style="background-image: url({{'creamy.png' | asset_url }});">
                  <span class="item__image_old">
                    <span class="item__image_old_wrap" style="background-image: url({{'kent_5_old.png' | asset_url }});"></span>
                  </span>
                </div>
                <div class="item__action" style="opacity: 0; pointer-events: none;">
                  <span class="item__btn active">Стало</span>
                  <span class="item__btn">Було</span>
                </div>
              </div>
            </div>
          </div>

        </div>

        <h2 class="new-stiks__title">Ароматизовані стіки</h2>

        <div class="list">

          <div class="item block-mb">
            <div class="item__wrap">
              <div class="item__cont">
                <h3 class="item__title">
                  <span class="item__title__text">Dark Fresh</span>
                  <span class="label label_green">Оновлений дизайн</span>
                  <span class="label label_blue">Освіжаючий смак</span>
                </h3>
                <div class="item__desc">
                  <p class="item__text">
                    <span>Вишукане поєднання класичного тютюну з ментолом та ягідними нотками.</span>
                    <b>Новий яскравий дизайн упаковки</b>
                  </p>
                  <a href="/collections/neosticks/products/neo-sticks?variant=31275951784070" class="item__link btn c-btn--primary">Замовляй зараз</a>
                </div>
              </div>
              <div class="item__preview">
                <span class="item__preview_decor" style="background-image: url({{'dark_bg.png' | asset_url }});"></span>
                <div class="item__image" style="background-image: url({{'darkfresh.png' | asset_url }});">
                  <span class="item__image_old">
                    <span class="item__image_old_wrap" style="background-image: url({{'kent_3_old.png' | asset_url }});"></span>
                  </span>
                </div>
                <div class="item__action">
                  <span class="item__btn active">Стало</span>
                  <span class="item__btn">Було</span>
                </div>
              </div>
            </div>
          </div>

          <div class="item block-mb">
            <div class="item__wrap">
              <div class="item__cont">
                <h3 class="item__title">
                  <span class="item__title__text">Citric Mix</span>
                  <span class="label label_green">Оновлений дизайн</span>
                  <span class="label label_blue">Освіжаючий смак</span>
                </h3>
                <div class="item__desc">
                  <p class="item__text">
                    <span>Насичений, оксамитовий смак класичного тютюну</span>
                    <b>Новий яскравий дизайн упаковки</b>
                  </p>
                  <!--<a href="#" class="item__link btn c-btn--primary">Замовляй зараз</a>-->
                </div>
              </div>
              <div class="item__preview">
                <span class="item__preview_decor" style="background-image: url({{'citric_bg.png' | asset_url }});"></span>
                <div class="item__image" style="background-image: url({{'citricmix.png' | asset_url }});">
                  <span class="item__image_old">
                    <span class="item__image_old_wrap" style="background-image: url({{'kent_4_old.png' | asset_url }});"></span>
                  </span>
                </div>
                <div class="item__action">
                  <span class="item__btn active">Стало</span>
                  <span class="item__btn">Було</span>
                </div>
              </div>
            </div>
          </div>

        </div>

        <h2 class="new-stiks__title">Стіки з капсулою</h2>

        <div class="list">

          <div class="item block-mb">
            <div class="item__wrap">
              <div class="item__cont">
                <h3 class="item__title">
                  <span class="item__title__text">Boost Red</span>
                  <span class="label label_green">Капсула</span>
                  <span class="label label_blue">Освіжаючий смак</span>
                </h3>
                <div class="item__desc">
                  <p class="item__text">
                    <span>Вишукане поєднання класичного тютюну з ментолом та ягідними нотками.</span>
                    <b>Новий яскравий дизайн упаковки</b>
                  </p>
                  <a href="/collections/neosticks/products/neo-sticks?variant=31275951816838" class="item__link btn c-btn--primary">Замовляй зараз</a>
                </div>
              </div>
              <div class="item__preview">
                <span class="item__preview_decor" style="background-image: url({{'rich_bg.png' | asset_url }});"></span>
                <div class="item__image" style="background-image: url({{'boostred.png' | asset_url }});">
                  <span class="item__image_old">
                    <span class="item__image_old_wrap" style="background-image: url({{'kent_5_old.png' | asset_url }});"></span>
                  </span>
                </div>
                <div class="item__action">
                  <span class="item__btn active">Стало</span>
                  <span class="item__btn">Було</span>
                </div>
              </div>
            </div>
          </div>

          <div class="item block-mb">
            <div class="item__wrap">
              <div class="item__cont">
                <h3 class="item__title">
                  <span class="item__title__text">Boost Royale</span>
                  <span class="label label_green">Капсула</span>
                </h3>
                <div class="item__desc">
                  <p class="item__text">
                    <span>Насичений, оксамитовий смак класичного тютюну</span>
                    <b>Новий яскравий дизайн упаковки</b>
                  </p>
                  <a href="/collections/neosticks/products/neo-sticks?variant=31275951751302" class="item__link btn c-btn--primary">Замовляй зараз</a>
                </div>
              </div>
              <div class="item__preview">
                <span class="new-label">Новинка</span>
                <span class="item__preview_decor" style="background-image: url({{'boost_royale_bg.png' | asset_url }});"></span>
                <div class="item__image" style="background-image: url({{'royale.png' | asset_url }});">
                  <span class="item__image_old">
                    <span class="item__image_old_wrap" style="background-image: url({{'kent_5_old.png' | asset_url }});"></span>
                  </span>
                </div>
                <div class="item__action" style="opacity: 0; pointer-events: none;">
                  <span class="item__btn active">Стало</span>
                  <span class="item__btn">Було</span>
                </div>
              </div>
            </div>
          </div>

          <div class="item block-mb">
            <div class="item__wrap">
              <div class="item__cont">
                <h3 class="item__title">
                  <span class="item__title__text">Boost Scarlet</span>
                  <span class="label label_green">Капсула</span>
                </h3>
                <div class="item__desc">
                  <p class="item__text">
                    <span>Вишукане поєднання класичного тютюну з ментолом та ягідними нотками.</span>
                    <b>Новий яскравий дизайн упаковки</b>
                  </p>
                  <a href="/collections/neosticks/products/neo-sticks?variant=31401763111046" class="item__link btn c-btn--primary">Замовляй зараз</a>
                </div>
              </div>
              <div class="item__preview">
                <span class="new-label">Новинка</span>
                <span class="item__preview_decor" style="background-image: url({{'boost_scarlet_bg.png' | asset_url }});"></span>
                <div class="item__image" style="background-image: url({{'scarlet.png' | asset_url }});">
                  <span class="item__image_old">
                    <span class="item__image_old_wrap" style="background-image: url({{'kent_5_old.png' | asset_url }});"></span>
                  </span>
                </div>
                <div class="item__action" style="opacity: 0; pointer-events: none;">
                  <span class="item__btn active">Стало</span>
                  <span class="item__btn">Було</span>
                </div>
              </div>
            </div>
          </div>

        </div>
        </div>
      </div>
    </div>

{{ 'neosticks-pack.scss.css' | asset_url | stylesheet_tag }}


<script>
$('.new-stiks .list .item__btn').on('click', function () {
  if (!$(this).hasClass('active')) {
  	$(this).addClass('active').siblings().removeClass('active');
    $(this).parent().siblings('.item__image').toggleClass('active');
  }
});
</script>