<div class="container-fliud page-glo-nano__bg block-mb">
   <div class="container">
      <div class="row">
         <div class="col-lg-16">
            <div class="page__title">glo nano - легкий та компактний</div>
            <div class="info-product block-mb">
               <div class="info-product__item">
                  <img src={{ "product_compact_icon.svg" | asset_url }} alt="Компактна зручна форма">
                  <p>Компактна зручна форма</p>
               </div>
               <div class="info-product__item">
                  <img src={{ "product_nano_icon.svg" | asset_url }} alt="Яскравий дизайн">
                  <p>Яскравий дизайн</p>
               </div>
               <div class="info-product__item">
                  <img src={{ "icon_product_battery_light.svg" | asset_url }} alt="До 8 сесій">
                  <p>До 8 сесій тривалістю по 3,5 хв на одному заряді</p>
               </div>
            </div>
           <a href="/collections/glo-devices/products/glo-nano" class="btn btn-primary text-center--xs btn--secondary-light block-mb-lg">Купити онлайн</a>
         </div>
      </div>
   </div>
</div>
<div class="glo-pro-about container block-mb ">
   <div class="row">
      <div class="col-lg-8">
         <h2>Детальніше про glo nano</h2>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-8 iframe-container">
         <iframe src="https://player.vimeo.com/video/380188342" width="100%" height="100%" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      </div>
      <div class="col-lg-8 glo-pro-about__text">
         <p>glo nano - найбільш легкий та компактний пристрій у лінійці пристроїв glo, який зручно брати завжди з собою.</p>
         <p>Пристрій має стильний, сучасний зовнішній вигляд і доступний одразу в декількох яскравих кольорах. Заряду glo nano вистачає до 8 сесій.</p>
         <p><a href="https://cdn.shopify.com/s/files/1/0072/8111/5254/t/5/assets/nano_guide.pdf" target="_blank">Інструкція користувача</a></p>
      </div>
   </div>
</div>
<div class="container">
   <div class="row">
      <div class="col-lg-8">
         <h2>Широка лінійка кольорів</h2>
      </div>
   </div>
</div>
<div class="container block-mb hidden-xs">
   <div class="row">
     
     <div class="col-lg-2 col-md-2 col-sm-2">
       	 <a href="/collections/glo-devices/products/glo-nano?variant=31276260393094">
            <img src={{ "product-nano-blue.png" | asset_url }} alt="glo nano" class="lazyload lazypreload img-full img__bg" >
         </a>
      </div>
     <div class="col-lg-2 col-md-2 col-sm-2">
       	 <a href="/collections/glo-devices/products/glo-nano?variant=31276260425862">
            <img src={{ "product-nano-red.png" | asset_url }} alt="glo nano" class="lazyload lazypreload img-full img__bg" >
         </a>
      </div>
     <div class="col-lg-2 col-md-2 col-sm-2">
       	 <a href="/collections/glo-devices/products/glo-nano?variant=31276260360326">
            <img src={{ "product-nano-darkblue.png" | asset_url }} alt="glo nano" class="lazyload lazypreload img-full img__bg" >
         </a>
      </div>
     <div class="col-lg-2 col-md-2 col-sm-2">
       	 <a href="/collections/glo-devices/products/glo-nano?variant=31377709367430">
            <img src={{ "product-nano-orange.png" | asset_url }} alt="glo nano" class="lazyload lazypreload img-full img__bg" >
         </a>
      </div>
     <div class="col-lg-2 col-md-2 col-sm-2">
       	 <a href="/collections/glo-devices/products/glo-nano?variant=31377708810374">
            <img src={{ "product-nano-purple.png" | asset_url }} alt="glo nano" class="lazyload lazypreload img-full img__bg" >
         </a>
      </div>
     <div class="col-lg-2 col-md-2 col-sm-2">
       	 <a href="/collections/glo-devices/products/glo-nano?variant=31377709334662">
            <img src={{ "product-nano-green.png" | asset_url }} alt="glo nano" class="lazyload lazypreload img-full img__bg" >
         </a>
      </div>
     <div class="col-lg-2 col-md-2 col-sm-2">
       	 <a href="/collections/glo-devices/products/glo-nano?variant=31377709432966">
            <img src={{ "product-nano-rose.png" | asset_url }} alt="glo nano" class="lazyload lazypreload img-full img__bg" >
         </a>
      </div>
     <div class="col-lg-2 col-md-2 col-sm-2">
       	 <a href="/collections/glo-devices/products/glo-nano?variant=31276260327558">
            <img src={{ "product-nano-white.png" | asset_url }} alt="glo nano" class="lazyload lazypreload img-full img__bg" >
         </a>
      </div>
      
   </div>
</div>
<div class="container-fliud block-mb hidden-md hidden-lg hidden-sm">
   <div class="container lazy slick-slider1 product-slider slider">
      <div class="row slider-block text-center">
         <div class="col-lg-16 slider__img slider__img-max">
           <a href="/collections/glo-devices/products/glo-nano?variant=31276260425862">
              <img src={{ "product-nano-red.png" | asset_url }} alt="glo nano" class="lazyload lazypreload img-full img__bg" >
           </a>
         </div>
      </div>
      <div class="row slider-block text-center">
         <div class="col-lg-16 slider__img slider__img-max">
           <a href="/collections/glo-devices/products/glo-nano?variant=31276260393094">
              <img src={{ "product-nano-blue.png" | asset_url }} alt="glo nano" class="lazyload lazypreload img-full img__bg" >
           </a>
                   
         </div>
      </div>
      <div class="row slider-block text-center">
         <div class="col-lg-16 slider__img slider__img-max">
           <a href="/collections/glo-devices/products/glo-nano?variant=31276260360326">
              <img src={{ "product-nano-darkblue.png" | asset_url }} alt="glo nano" class="lazyload lazypreload img-full img__bg" >
           </a>
                    
         </div>
      </div>
     <div class="row slider-block text-center">
         <div class="col-lg-16 slider__img slider__img-max">
           <a href="/collections/glo-devices/products/glo-nano?variant=31377709367430">
              <img src={{ "product-nano-orange.png" | asset_url }} alt="glo nano" class="lazyload lazypreload img-full img__bg" >
           </a>
                     
         </div>
      </div>
     <div class="row slider-block text-center">
         <div class="col-lg-16 slider__img slider__img-max">
           <a href="/collections/glo-devices/products/glo-nano?variant=31377708810374">
              <img src={{ "product-nano-purple.png" | asset_url }} alt="glo nano" class="lazyload lazypreload img-full img__bg" >
           </a>
         </div>
      </div>
      <div class="row slider-block text-center">
         <div class="col-lg-16 slider__img slider__img-max">
           <a href="/collections/glo-devices/products/glo-nano?variant=31377709334662">
              <img src={{ "product-nano-green.png" | asset_url }} alt="glo nano" class="lazyload lazypreload img-full img__bg" >
           </a>
                   
         </div>
      </div>
      <div class="row slider-block text-center">
         <div class="col-lg-16 slider__img slider__img-max">
           <a href="/collections/glo-devices/products/glo-nano?variant=31377709432966">
              <img src={{ "product-nano-rose.png" | asset_url }} alt="glo nano" class="lazyload lazypreload img-full img__bg" >
           </a>
                    
         </div>
      </div>
      <div class="row slider-block text-center">
         <div class="col-lg-16 slider__img slider__img-max">
           <a href="/collections/glo-devices/products/glo-nano?variant=31276260327558">
              <img src={{ "product-nano-white.png" | asset_url }} alt="glo nano" class="lazyload lazypreload img-full img__bg" >
           </a>
                     
         </div>
      </div>

   </div>
</div>
{%if page.url != '/pages/glo-nano-aware' and page.url != '/pages/glo-nano-now'%}
<div class="container">
   <div class="row">
      <div class="col-lg-8">
         <h2>Стіки neo</h2>
         <p style="padding-bottom: 40px;">Відкрий лінійку преміум-стіків, розроблених ексклюзивно для glo</p>
      </div>
   </div>
</div>
<div class="container block-mb hidden-xs">
   <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-5">
         <h4 class="text-center">Тютюнові стіки</h4>
         <a href="/pages/neosticks-packs"><img src={{ "glo-pro_pack_1.png" | asset_url }} alt="Стіки" class="lazyload lazypreload img-sticks img-sticks_1" ></a>
         <div class="title-sticks title-sticks_1">
           <ul>
             <li>Rich Tobacco</li>
             <li>Creamy Tobacco</li>
           </ul>
      	</div>
     </div>
      <div class="col-lg-5 col-md-5 col-sm-5">
         <h4 class="text-center">Стіки з ароматом</h4>
         <a href="/pages/neosticks-packs"><img src={{ "glo-pro_pack_2.png" | asset_url }} alt="Стіки" class="lazyload lazypreload img-sticks img-sticks_2" ></a>
         <div class="title-sticks title-sticks_2">
           <ul>
             <li>Dark Fresh</li>
             <li>Citric Mix</li>
           </ul>
          </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-5">
         <h4 class="text-center">Стіки з капсулою</h4>
         <a href="/pages/neosticks-packs"><img src={{ "glo-pro_pack_3.png" | asset_url }} alt="Стіки" class="lazyload lazypreload img-sticks img-sticks_3"></a>
         <div class="title-sticks title-sticks_3">
           <ul>
             <li>Boost Red</li>
             <li>Boost Royale</li>
             <li>Boost Scarlet</li>
           </ul>  
         </div>
      </div>
   </div>
  <div class="row pT40">
     <div class="col-lg-16 text-center">
     	<a href="/pages/neosticks-packs" class="btn mB30" title="Про стіки">Детальніше про кожен смак</a>
     </div>
   </div>
</div>
<div class="container-fliud block-mb hidden-md hidden-lg  hidden-sm">
   <div class="container lazy slick-slider1 product-slider slider">
      <div class="row slider-block text-center">
         <div class="col-lg-16 slider__img">
            <a href="/pages/neosticks-packs"><img src={{ "stick_boostred.png" | asset_url }} alt="Стіки" class="lazyload lazypreload"></a>
           
         </div>
      </div>
      <div class="row slider-block text-center">
         <div class="col-lg-16 slider__img">
            <a href=""><img src={{ "stick_boostroyale.png" | asset_url }} alt="Стіки" class="lazyload lazypreload"></a>       
         </div>
      </div>
      <div class="row slider-block text-center">
         <div class="col-lg-16 slider__img">
            <a href="/pages/neosticks-packs"><img src={{ "stick_boostscarlet.png" | asset_url }} alt="Стіки" class="lazyload lazypreload"></a>       
         </div>
      </div>
     <div class="row slider-block text-center">
         <div class="col-lg-16 slider__img">
            <a href="/pages/neosticks-packs"><img src={{ "stick_citric.png" | asset_url }} alt="Стіки" class="lazyload lazypreload"></a>      
         </div>
      </div>
     <div class="row slider-block text-center">
         <div class="col-lg-16 slider__img">
            <a href="/pages/neosticks-packs"><img src={{ "stick_creamy.png" | asset_url }} alt="Стіки" class="lazyload lazypreload"></a>        
         </div>
      </div>
     <div class="row slider-block text-center">
         <div class="col-lg-16 slider__img">
            <a href="/pages/neosticks-packs"><img src={{ "stick_darkfresh.png" | asset_url }} alt="Стіки" class="lazyload lazypreload"></a>       
         </div>
      </div>
     <div class="row slider-block text-center">
         <div class="col-lg-16 slider__img">
            <a href="/pages/neosticks-packs"><img src={{ "stick_rich.png" | asset_url }} alt="Стіки" class="lazyload lazypreload"></a>       
         </div>
      </div>
   </div>
  <div class="container">
     <div class="row pT20">
     <div class="col-lg-16 text-center">
     	<a href="/pages/neosticks-packs" class="btn mB30" title="Про стіки">Детальніше про кожен смак</a>
     </div>
   </div>
  </div>
</div>
{%comment%}
<div class="container-fliud bg-grey block-mb">
   <div class="container">
      <div class="row">
         <div class="col-lg-16 test-drive__block">
            <h3><span>Спробуй glo<span class="TM">TM</span><span class="dot"></span></span> безкоштовно. Замов тест-драйв</h3>
            <a href="/pages/free-test-drive" class="btn btn-primary btn--secondary-light">
            Замовити
            </a>
         </div>
      </div>
   </div>
</div>
{%endcomment%}
{%endif%}

{%if page.url != '/pages/glo-nano-aware'%}

<!-- compare -->
<div class="container-fliud block-mb">
    <div class="container">
        <div class="row">
            <div class="col-lg-16">
                <div class="devices-block">
                    <div class="devices__item devices__item-title">
                        <div class="item-header">
                            <h2>Підбери для себе glo<span class="TM">TM</span></h2>
                            <p>Порівняйте властивості пристроїв</p>
                        </div>
                        <div class="item-content">
                            <ul>
                                <li><img src={{ "complete-keyline.svg" | asset_url }} alt="Формат стіків"><span>Формат стіків</span></li>
                                <li><img src={{ "complete-keyline.svg" | asset_url }} alt="Час нагрівання"><span>Час нагрівання</span></li>
                                <li><img src={{ "complete-keyline.svg" | asset_url }} alt="Потужність батареї"><span>Потужність батареї</span></li>
                                <li><img src={{ "complete-keyline.svg" | asset_url }} alt="Тривалість сесії"><span>Тривалість сесії</span></li>
                                <li><img src={{ "complete-keyline.svg" | asset_url }} alt="Вага пристрою"><span>Вага пристрою</span></li>
                                <li><img src={{ "complete-keyline.svg" | asset_url }} alt="Розмір"><span>Розмір</span></li>
                                <li><img src={{ "complete-keyline.svg" | asset_url }} alt="Режим Boost"><span>Режим Boost</span></li>
                                <li><img src={{ "complete-keyline.svg" | asset_url }} alt="Ціна"><span>Ціна</span></li>
                            </ul>
                        </div>
                    </div>
                    
               <div class="devices__item">
                    <div class="item-header">
                      <div class="img"><a href="/products/glo-nano"><img src={{ "comp_nano.png" | asset_url }} alt="glo nano"></a></div>
                       <div class="name">glo nano</div>
                    </div>
                    <div class="item-content">
                       <ul>
                          <li><div><span class="num">Нано</span></div></li>
                          <li><div><span class="num">40</span> <br><span>секунд</span></div></li>
                          <li><div class="block_stick-pT-xs"><span class="num ">До 8</span><br><span>сеансiв</span></div></li>
                          <li><div><span class="num">3.5</span><br><span>хвилин</span></div></li>
                          <li><div><span class="num">61г</span></div></li>
                          <li><div><span class="num">95x32x21</span><br><span>мм</span></div></li>
                          <li><div>-</div></li>
                          <li><div><span class="num"><strong>599грн</strong></span></div></li>
                       </ul>
                    </div>
                  </div>
               <div class="devices__item">
                  <div class="item-header">
                     <div class="img"><a href="/products/glo-pro-kit"><img src={{ "comp_pro.png" | asset_url }}  alt="glo pro"></a></div>
                     <div class="name">glo pro</div>
                  </div>
                  <div class="item-content">
                     <ul>
                        <li><div><span class="num">Нано</span></li>
                        <li>
							<div>
								<span class="num">20 </span><span>сек. <span class="hidden-xs">(режим </span>Standart<span class="hidden-xs">)</span></span><br>
								<span class="num">10 </span><span>сек. <span class="hidden-xs">(режим</span> Boost<span class="hidden-xs">)</span></span>
							</div>
                        </li>
                        <li><div><span class="num">До 20</span><br><span>сеансiв</span></div></li>
						<li>
							<div>
                              <span class="num">4 </span><span>хв. (<span class="hidden-xs">режим</span>Standart)</span><br>
                              <span class="num">3 </span><span>хв. (<span class="hidden-xs">режим</span>Boost)</span>
							</div>
						</li>
						<li><div><span class="num">98г</span></div></li>
						<li><div><span class="num">82x43x21</span><br><span>мм</span></div></li>
                        <li><div>Наявний</div></li>
						<li><div><span class="num"><strong>899грн</strong></div></li>
                     </ul>
                  </div>
               	  </div>
                  <div class="devices__item">
                        <div class="item-header">
                          <div class="img"><a href="/products/glo-hyper-kit"><img src="{{ " comp_hyper.png " | asset_url }}" alt="glo hyper"></a></div>
                          	<div class="name"><a href="/products/glo-hyper-kit">glo hyper</a></div>
                        </div>
                        <div class="item-content">
                            <ul>
                                <li><div><span class="num">Демі</span></li>
                                <li>
                                  <div>
                                    <span class="num">20 </span><span>сек. <span class="hidden-xs">(режим </span>Standart<span class="hidden-xs">)</span></span><br>
                                    <span class="num">15 </span><span>сек. <span class="hidden-xs">(режим</span> Boost<span class="hidden-xs">)</span></span>
                                  </div>
                                </li>
								<li><div><span class="num">До 20</span><br><span>сеансiв</span></div></li>
                                <li>
                              	  <div>
                                    <span class="num">4 </span><span>хв. (<span class="hidden-xs">режим</span>Standart)</span><br>
                                    <span class="num">3.5 </span><span>хв. (<span class="hidden-xs">режим</span>Boost)</span>
                                  </div>
                                </li>
                                <li><div><span class="num">100г</span></div></li>
                                <li><div><span class="num">82.5х43х21</span><br><span>мм</span></div></li>
                                <li><div>Наявний</div></li>
                                <li><div><span class="num"><strong>899грн</strong></span></div></li>
                     </ul>
                  </div>
               </div>
                  
            </div>
         </div>
      </div>
   </div>
</div>
{%endif%}
{%if page.url == '/pages/glo-nano-aware'%}
<div class="container-fliud block-mb">
   <div class="container">
      <div class="row">
         <div class="col-lg-16 ">
            <h2>Завітай до glo<span class="TM">TM</span> Studio</h2>
         </div>
      </div>
     <div class="row studio-list">
         <div class="col-lg-4" style="padding-right: 40px;">
            <h4 style="border-bottom: 1px solid #f2f2f2; padding-bottom: 10px;">Київ</h4>
             <div class="studio" style="align-items: end;">
               <div class="studio-icon"><img src={{ "glo_studio.svg" | asset_url }} style="width: 43px;" alt="glo_studio"></div>
               <div class="studio-adress">Спортивна пл. 1А<br>ТРЦ Gulliver, 1 поверх<br>
               	 10:00 - 22:00
                 <br><br>
                 Дніпровська набережна, 12, River Mall<br>
               	 10:00 - 22:00
               </div>
             </div>
      
             
         </div>
         <div class="col-lg-4" style="padding-right: 40px;">
            <h4 style="border-bottom: 1px solid #f2f2f2; padding-bottom: 10px;">Одеса</h4>
             <div class="studio">
               <div class="studio-icon"><img src={{ "glo_studio.svg" | asset_url }} alt="glo_studio"></div>
               <div class="studio-adress">вул. Дерибасівська, 31<br>
               	 10:00 - 22:00
               </div>
             </div>
             
         </div>
         <div class="col-lg-4" style="padding-right: 40px;">
            <h4 style="border-bottom: 1px solid #f2f2f2; padding-bottom: 10px;">Львів</h4>
             <div class="studio">
               <div class="studio-icon"><img src={{ "glo_studio.svg" | asset_url }} alt="glo_studio"></div>
               <div class="studio-adress">вул. Галицька, 20<br>
               	 10:00 - 21:00
               </div>
             </div>
             
         </div>
         <div class="col-lg-4" style="padding-right: 40px;">
            <h4 style="border-bottom: 1px solid #f2f2f2; padding-bottom: 10px;">Харків</h4>
             <div class="studio">
               <div class="studio-icon"><img src={{ "glo_studio.svg" | asset_url }} alt="glo_studio"></div>
               <div class="studio-adress">
                 вул. Героїв праці, 7<br>
               	 10:00 - 22:00
               </div>
             </div>
             
         </div>
      </div>
     <div class="row">
       <div class="col-lg-16 text-center">
       		<a href="/pages/contact-us#go-buy" class="btn mT20" style="width: 280px;">УСІ ТОЧКИ ПРОДАЖУ</a>
       </div>
     </div>
   </div>
</div>
{%else%}
{%comment%}
<div class="map_homepage map_homepage__contact block-mb" id="go-buy">
	{% include 'store_finder' %}
</div>
{%endcomment%}

<div class="container-fliud bg-grey block-mb">
  <div class="container">
    <div class="row">
    	<div class="col-lg-16 test-drive__block">
        <h3><span>Завітай у наші glo<span class="TM">TM</span></span> spaces</h3>
        <a href="/pages/contact-us#go-buy" class="btn btn-primary btn--secondary-light">
        Знайти на карті
        </a>
      </div>
	</div>
   </div>
</div>

{%endif%}
{{ 'glo-nano.scss.css' | asset_url | stylesheet_tag }}

<script>
    $(document).on('ready', function () {

        $('.slick-slider1').slick({
            dots: true,
            dotsClass: 'slick-dots',
            autoplay: true,
            autoplaySpeed: 1500,
            arrows: true
        });
      
        $(".lazy").slick({
            lazyLoad: 'ondemand', // ondemand progressive anticipated
            infinite: true
        });

    });
 
</script>