{{ 'glo-hyper.scss.css' | asset_url | stylesheet_tag }}
<div class="container-fliud page-glo-hyper__bg block-mb glo-hyper__first-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-9 col-lg-7 col-md-offset-9 col-md-7">
                <div class="page__title fff none-border-after">
                  <div class="page__title--first">glo HYPER</div>
                  <span class="fs-24">ШВИДКО<img src={{ "amp_fff.svg" | asset_url }} class="amp-fff"></span>
                  <span class="fs-24">НАСИЧЕНО<img src={{ "amp_fff.svg" | asset_url }} class="amp-fff"></span>
                  <span class="fs-24">CТИЛЬНО</span>
                  <span class="fs-24"><img src={{ "amp_fff.svg" | asset_url }} class="amp-fff">більше</span>                  
              	</div>
                <div class="info-product block-mb">
                    <div class="info-product__item">
                        <img src={{ "demi_format.svg" | asset_url }} alt="glo hyper - Компактна зручна форма">
                        <p class="fff">Новий формат стіків Демі</p>
                    </div>
                    <div class="info-product__item">
                        <img src={{ "demi_tobacco_icon.svg" | asset_url }} alt="glo hyper - Яскравий дизайн">
                        <p class="fff">Потужне індукційне нагрівання та режим Boost</p>
                    </div>
                    <div class="info-product__item">
                        <img src={{ "demi_power_tech.svg" | asset_url }} alt="glo hyper - До 8 сесій">
                        <p class="fff">Більше насиченого смаку*</p>
                    </div>
                </div>
                <a href="/products/glo-hyper-kit">
                	<button class="btn btn-primary btn--secondary-light block-mb-lg" href="/products/glo-hyper-kit" tabindex="0">КУПИТИ</button>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- video -->

<div class="container block-mb">
    {%comment%}
    <div class="row block-mb">
        <div class="col-lg-16 iframe-container">
            <iframe src="https://player.vimeo.com/video/380188342" width="110%" height="auto" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
    </div>
    {%endcomment%}
    <div class="row">
        
        <div class="col-lg-16">
            <p>НАШ НАЙБІЛЬШ ПРОГРЕСИВНИЙ ПРИСТРІЙ</p>
            <p>glo hyper поєднує інноваційну технологію індукційного нагрівання та новий формат стіків Демі. У нових стіках на 30% більше тютюну, для більшого насичення та задоволення від смаку.</p>
          	<p>glo hyper має 2 режими роботи – Standard та Boost, так ти можеш керувати насиченістю смаку, змінюючи температуру та швидкість нагрівання.</p>
          	<p>Пристрій має ергономічний дизайн із покриттям soft touch**</p>
        </div>
    </div>
</div>

<!-- about -->
<div class="container-fluid block-mb">
    <div class="row">
        <div class="col-lg-16 p0">
            <img src={{ "hyper_moreinfo.png" | asset_url }} alt="Прогресивний девайс glo hyper" class="hidden-xs">
            <img src={{ "hyper_moreinfo_xs.png" | asset_url }} alt="Прогресивний девайс glo hyper" class="hidden-md hidden-lg hidden-sm">
        </div>
    </div>
</div>
{%comment%}
<div class="container-fliud block-mb">
    <div class="container">
        <div class="row">
            <div class="col-lg-16 test-drive__block hyper-test-drive__block">
                <h3><span>Спробуй glo<span class="TM">TM</span><span class="dot">.</span></span> Безкоштовний тест-драйв</h3>
                <a href="/pages/free-test-drive" class="btn btn-primary ">
            Замовити
            </a>
            </div>
        </div>
    </div>
</div>
{%endcomment%}
<!-- devices -->
<div class="container">
    <div class="row">
        <div class="col-lg-16 text-center">
            <h3>ШИРОКА ЛІНІЙКА КОЛЬОРІВ</h3>
        </div>
    </div>
</div>
<div class="container block-mb hidden-xs glo-hyper__series-color">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <a href="/collections/glo-devices/products/glo-hyper?variant=31586237087878">
                <img data-src={{ "hyper_black-big.png" | asset_url }} alt="glo hyper black" class="lazyload lazypreload img-full img__bg">
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <a href="/collections/glo-devices/products/glo-hyper?variant=31586237153414">
                <img data-src={{ "hyper_blue-big.png" | asset_url }} alt="glo hyper blue" class="lazyload lazypreload img-full img__bg"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <a href="/collections/glo-devices/products/glo-hyper?variant=31586237120646">
                <img data-src={{ "hyper_orange-big.png" | asset_url }} alt="glo hyper orange" class="lazyload lazypreload img-full img__bg"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <a href="/collections/glo-devices/products/glo-hyper?variant=31586237186182">
                <img data-src={{ "hyper_white-big.png" | asset_url }} alt="glo hyper white" class="lazyload lazypreload img-full img__bg"></a>
        </div>
    </div>

</div>
<div class="container-fliud block-mb hidden-md hidden-lg hidden-sm">
    <div class="container lazy slick-slider1 product-slider slider">
        <div class="row slider-block text-center">
            <div class="col-lg-16 slider__img slider__img-max">
                <a href="/collections/glo-devices/products/glo-hyper?variant=31586237087878">
                    <img data-src={{ "hyper_black.png" | asset_url }} alt="Стіки" class="lazyload lazypreload img__bg">
                </a>

            </div>
        </div>
        <div class="row slider-block text-center">
            <div class="col-lg-16 slider__img slider__img-max">
                <a href="/collections/glo-devices/products/glo-hyper?variant=31586237153414">
                  <img data-src={{ "hyper_blue.png" | asset_url }} alt="Стіки" class="lazyload lazypreload img__bg"> </a>
            </div>
        </div>
        <div class="row slider-block text-center">
            <div class="col-lg-16 slider__img slider__img-max">
                <a href="/collections/glo-devices/products/glo-hyper?variant=31586237120646">
                  <img data-src={{ "hyper_orange.png" | asset_url }} alt="Стіки" class="lazyload lazypreload img__bg"></a>
            </div>
        </div>
        <div class="row slider-block text-center">
            <div class="col-lg-16 slider__img slider__img-max">
                <a href="/collections/glo-devices/products/glo-hyper?variant=31586237186182">
                  <img data-src={{ "hyper_white.png" | asset_url }} alt="Стіки" class="lazyload lazypreload img__bg"></a>
            </div>
        </div>

    </div>
</div>

<!-- sticks -->

<div class="container-fluid block-mb hidden-xs hidden-sm block_stick">
    <div class="row M0">
        <div class="col-lg-16">
            <div class="title__stick">НОВА ЛІНІЙКА СТІКІВ ДЛЯ glo™ HYPER</div>
        </div>
    </div>
    <div class="row M0">
        <div class="col-lg-4 col-md-8 terr_bg text-center">
            <div class="block__img-demi-pack">
              <a href="/products/neo-sticks-glo-hyper?variant=31586354266246">
                <img src="{{'pack_Terracotta_Tobacco-min.png' | asset_url }}" alt="Terracotta Tobacco">
              </a>
            </div>
            <div class="block__about-demi-pack text-left">
                <p class="strong">Terracotta Tobacco</p>
                <ul>
                    <li>Насичений тютюн</li>
                    <li>Оксамитовий смак</li>
                    <li>Солодкий фільтр</li>
                </ul>
            </div>
        </div>

        <div class="col-lg-4 col-md-8 redberry_bg text-center">
            <div class="block__img-demi-pack">
               <a href="/products/neo-sticks-glo-hyper?variant=31586354364550">
                <img src="{{'pack_Redberry_Pastel-min.png' | asset_url }}" alt="Redberry Pastel">
               </a>
            </div>
            <div class="block__about-demi-pack text-left">
                <p class="strong">Redberry Pastel</p>
                <ul>
                    <li>Класичний тютюн</li>
                    <li>Ментолові нотки</li>
                    <li>Капсула зі смаком червоної ягоди</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-8 pinapple_bg text-center">
            <div class="block__img-demi-pack">
              <a href="/products/neo-sticks-glo-hyper?variant=31586354331782">
                <img src="{{'pack_Magnetic_Pineapple-min.png' | asset_url }}" alt="Magnetic Pineapple">
              </a>  
            </div>
            <div class="block__about-demi-pack text-left">
                <p class="strong">Magnetic Pineapple</p>
                <ul>
                    <li>Класичний тютюн</li>
                    <li>Капсула зі смаком тропічного міксу</li>
                    <li>Солодкий фільтр</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-8 brill_bg text-center">
            <div class="block__img-demi-pack">
              <a href="/products/neo-sticks-glo-hyper?variant=31586354299014">
                <img src="{{'pack_Brilliant_Berry-min.png' | asset_url }}" alt="Brilliant Berry">
              </a>
            </div>
            <div class="block__about-demi-pack text-left">
                <p class="strong">Brilliant Berry</p>
                <ul>
                    <li>Класичний тютюн</li>
                    <li>Ягідний аромат</li>
                    <li>Капсула зі смаком лісової ягоди</li>
                    <li>Солодкий фільтр</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row M0 pT20">
        <div class="col-lg-16 text-center">
            <a href="/products/neo-sticks-glo-hyper" class="btn  btn--secondary-light mB30" title="Замовити стіки для glo™ hyper">Замовити стіки для <span class="lower-case">glo</span>™ hyper</a>
        </div>
    </div>
  
</div>

<!-- sticks moblie -->

<div class="container-fluid block-mb hidden-lg hidden-md block_stick">
    <div class="row">
        <div class="col-lg-16">
          <div class="title__stick">Нова лінійка яскравих смаків для glo<span class="TM">TM</span> hyper</div>
        </div>
    </div>
    <div class="row m0 terr_bg_xs">
        <div class="col-sm-4 col-xs-5 text-center">
            <div class="block__img-demi-pack">
              <a href="/products/neo-sticks-glo-hyper?variant=31586354266246">
                <img src="{{'pack_Terracotta_Tobacco-min.png' | asset_url }}" alt="Terracotta Tobacco">
              </a>
            </div>
        </div>
        <div class="col-sm-12 col-xs-11">
            <div class="block__about-demi-pack text-left">
                <p class="strong">Terracotta Tobacco</p>
                <ul>
                    <li>Насичений тютюн</li>
                    <li>Оксамитовий смак</li>
                    <li>Солодкий фільтр</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row m0 redberry_bg_xs">
        <div class="col-sm-4 col-xs-5 text-center">
            <div class="block__img-demi-pack">
              <a href="/products/neo-sticks-glo-hyper?variant=31586354364550">
                <img src="{{'pack_Redberry_Pastel-min.png' | asset_url }}" alt="Redberry Pastel">
              </a>
            </div>
        </div>
        <div class="col-sm-12 col-xs-11">
            <div class="block__about-demi-pack text-left">
                <p class="strong">Redberry Pastel</p>
                <ul>
                    <li>Класичний тютюн</li>
                    <li>Ментолові нотки</li>
                    <li>Капсула зі смаком червоної ягоди</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row m0 brill_bg_xs">
        <div class="col-sm-4 col-xs-5 text-center">
            <div class="block__img-demi-pack">
              <a href="/products/neo-sticks-glo-hyper?variant=31586354299014">
                <img src="{{'pack_Brilliant_Berry-min.png' | asset_url }}" alt="Brilliant Berry">
              </a>
            </div>
        </div>
        <div class="col-sm-12 col-xs-11">
            <div class="block__about-demi-pack text-left">
                <p class="strong">Brilliant Berry</p>
                <ul>
                    <li>Класичний тютюн</li>
                    <li>Ягідний аромат</li>
                    <li>Капсула зі смаком лісової ягоди</li>
                    <li>Солодкий фільтр</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row m0 pinapple_bg_xs">
        <div class="col-sm-4 col-xs-5 text-center">
            <div class="block__img-demi-pack">
              <a href="/products/neo-sticks-glo-hyper?variant=31586354331782">
                <img src="{{'pack_Magnetic_Pineapple-min.png' | asset_url }}" alt="Magnetic Pineapple">
              </a>  
            </div>
        </div>
        <div class="col-sm-12 col-xs-11">
            <div class="block__about-demi-pack text-left">
                <p class="strong">Magnetic Pineapple</p>
                <ul>
                    <li>Класичний тютюн</li>
                    <li>Капсула зі смаком тропічного міксу</li>
                    <li>Солодкий фільтр</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row pT40">
        <div class="col-lg-16 text-center">
            <a href="/products/neo-sticks-glo-hyper" class="btn  btn--secondary-light mB30" title="Замовити стіки для glo™ hyper">Замовити стіки</a>
        </div>
    </div>
</div>

<!-- compare -->
<div class="container-fliud block-mb">
    <div class="container">
        <div class="row">
            <div class="col-lg-16">
                <div class="devices-block">
                    <div class="devices__item devices__item-title">
                        <div class="item-header">
                            <h2>Підбери для себе glo<span class="TM">TM</span></h2>
                            <p>Порівняйте властивості пристроїв</p>
                        </div>
                        <div class="item-content">
                            <ul>
                                <li><img src={{ "complete-keyline.svg" | asset_url }} alt="Формат стіків"><span>Формат стіків</span></li>
                                <li><img src={{ "complete-keyline.svg" | asset_url }} alt="Час нагрівання"><span>Час нагрівання</span></li>
                                <li><img src={{ "complete-keyline.svg" | asset_url }} alt="Потужність батареї"><span>Потужність батареї</span></li>
                                <li><img src={{ "complete-keyline.svg" | asset_url }} alt="Тривалість сесії"><span>Тривалість сесії</span></li>
                                <li><img src={{ "complete-keyline.svg" | asset_url }} alt="Вага пристрою"><span>Вага пристрою</span></li>
                                <li><img src={{ "complete-keyline.svg" | asset_url }} alt="Розмір"><span>Розмір</span></li>
                                <li><img src={{ "complete-keyline.svg" | asset_url }} alt="Режим Boost"><span>Режим Boost</span></li>
                                <li><img src={{ "complete-keyline.svg" | asset_url }} alt="Ціна"><span>Ціна</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="devices__item">
                        <div class="item-header">
                          <div class="img"><a href="/products/glo-hyper-kit"><img src="{{ " comp_hyper.png " | asset_url }}" alt="glo hyper"></a></div>
                          	<div class="name"><a href="/products/glo-hyper-kit">glo hyper</a></div>
                        </div>
                        <div class="item-content">
                            <ul>
                                <li><div><span class="num">Демі</span></li>
                                <li>
                                  <div>
                                    <span class="num">20 </span><span>сек. <span class="hidden-xs">(режим </span>Standart<span class="hidden-xs">)</span></span><br>
                                    <span class="num">15 </span><span>сек. <span class="hidden-xs">(режим</span> Boost<span class="hidden-xs">)</span></span>
                                  </div>
                                </li>
								<li><div><span class="num">До 20</span><br><span>сеансiв</span></div></li>
                                <li>
                              	  <div>
                                    <span class="num">4 </span><span>хв. (<span class="hidden-xs">режим</span>Standart)</span><br>
                                    <span class="num">3.5 </span><span>хв. (<span class="hidden-xs">режим</span>Boost)</span>
                                  </div>
                                </li>
                                <li><div><span class="num">100г</span></div></li>
                                <li><div><span class="num">82.5х43х21</span><br><span>мм</span></div></li>
                                <li><div>Наявний</div></li>
                                <li><div><span class="num"><strong>899грн</strong></span></div></li>
                     </ul>
                  </div>
               </div>
               
               <div class="devices__item">
                  <div class="item-header">
                     <div class="img"><a href="/products/glo-pro-kit"><img src={{ "comp_pro.png" | asset_url }}  alt="glo pro"></a></div>
                     <div class="name">glo pro</div>
                  </div>
                  <div class="item-content">
                     <ul>
                        <li><div><span class="num">Нано</span></li>
                        <li>
							<div>
								<span class="num">20 </span><span>сек. <span class="hidden-xs">(режим </span>Standart<span class="hidden-xs">)</span></span><br>
								<span class="num">10 </span><span>сек. <span class="hidden-xs">(режим</span> Boost<span class="hidden-xs">)</span></span>
							</div>
                        </li>
                        <li><div><span class="num">До 20</span><br><span>сеансiв</span></div></li>
						<li>
							<div>
                              <span class="num">4 </span><span>хв. (<span class="hidden-xs">режим</span>Standart)</span><br>
                              <span class="num">3 </span><span>хв. (<span class="hidden-xs">режим</span>Boost)</span>
							</div>
						</li>
						<li><div><span class="num">98г</span></div></li>
						<li><div><span class="num">82x43x21</span><br><span>мм</span></div></li>
                        <li><div>Наявний</div></li>
						<li><div><span class="num"><strong>899грн</strong></div></li>
                     </ul>
                  </div>
               	  </div>
                  <div class="devices__item">
                    <div class="item-header">
                      <div class="img"><a href="/products/glo-nano"><img src={{ "comp_nano.png" | asset_url }} alt="glo nano"></a></div>
                       <div class="name">glo nano</div>
                    </div>
                    <div class="item-content">
                       <ul>
                          <li><div><span class="num">Нано</span></div></li>
                          <li><div><span class="num">40</span> <br><span>секунд</span></div></li>
                          <li><div class="block_stick-pT-xs"><span class="num ">До 8</span><br><span>сеансiв</span></div></li>
                          <li><div><span class="num">3.5</span><br><span>хвилин</span></div></li>
                          <li><div><span class="num">61г</span></div></li>
                          <li><div><span class="num">95x32x21</span><br><span>мм</span></div></li>
                          <li><div>-</div></li>
                          <li><div><span class="num"><strong>499грн</strong></span></div></li>
                       </ul>
                    </div>
                  </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="container-fliud block-mb">
  <div class="container">
      <div class="row">
        <div class="col-lg-16">
        <div class="warning-text">
           <p>* В режимах Стандарт та Boost у порівнянні із попередніми моделями glo™ series 1, glo™ 2.0, glo™ 2.0 mini, glo™ nano</p>
          <p>** Приємна на дотик поверхня. Окрім білого девайсу</p>
        </div>
        </div>
      </div>
	</div>
</div>

<script async src="//inv-dmp.admixer.net/dmpcnt.js?cntoid=4076563c-8fca-43d2-a5b2-28d833cc7b99" async="async"></script>