<div class="container-fliud page-glo-nano__bg block-mb">
   <div class="container">
      <div class="row">
         <div class="col-lg-16">
            <div class="page__title fff">glo nano - сила, потужність, енергія</div>
            <div class="info-product block-mb">
               <div class="info-product__item">
                  <img src={{ "product_compact_icon.svg" | asset_url }} alt="Компактна зручна форма">
                  <p class="fff">Компактна зручна форма</p>
               </div>
               <div class="info-product__item">
                  <img src={{ "product_nano_icon.svg" | asset_url }} alt="Яскравий дизайн">
                  <p class="fff">Яскравий дизайн</p>
               </div>
               <div class="info-product__item">
                  <img src={{ "icon_product_battery_light.svg" | asset_url }} alt="До 8 сесій">
                  <p class="fff">До 8 сесій тривалістю по 3,5 хв на одному заряді</p>
               </div>
            </div>
            <button class="btn btn-primary btn--secondary-light block-mb-lg" tabindex="0">Замовити</button> 
         </div>
      </div>
   </div>
</div>
<div class="container block-mb">
   <div class="row">
      <div class="col-lg-8">
         <h2>Детальніше про glo nano</h2>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-8 iframe-container">
         <iframe src="https://player.vimeo.com/video/380188342" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      </div>
      <div class="col-lg-8">
         <p>glo nano - найбільш легкий та компактний пристрій у лінійці пристроїв glo, який зручно брати завжди з собою. Пристрій має стильний, сучасний зовнішній вигляд і доступний одразу в декількох яскравих кольорах. Заряду glo nano вистачає до 8 сесій, тому він може стати відмінним доповненням до вашого поточного пристрою</p>
         <p><a href="">Інструкція користувача</a></p>
      </div>
   </div>
</div>
<div class="container block-mb">
   <div class="row">
      <div class="col-lg-8">
         <h2>Широка лінійка кольорів</h2>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-16">
         <img src="https://cdn.shopify.com/s/files/1/0310/1140/5955/t/3/assets/pro-big-range.jpg?v=1581504208" style="width: 100%;">
      </div>
   </div>
</div>
<div class="container">
   <div class="row">
      <div class="col-lg-8">
         <h2>Стіки neo</h2>
      </div>
   </div>
</div>
<div class="container block-mb hidden-xs">
   <div class="row">
      <div class="col-lg-5 col-md-5">
         <img src={{ "glo-pro_pack_1.png" | asset_url }} alt="Стіки" class="lazyload lazypreload" >
      </div>
      <div class="col-lg-5 col-md-5">
         <img src={{ "glo-pro_pack_2.png" | asset_url }} alt="Стіки" class="lazyload lazypreload" >
      </div>
      <div class="col-lg-6 col-md-6">
         <img src={{ "glo-pro_pack_3.png" | asset_url }} alt="Стіки" class="lazyload lazypreload">
      </div>
   </div>
   <div class="row pT20">
     <div class="col-lg-16 text-center">
     	<a href="/pages/neosticks-packs" class="btn mB30" title="Про стіки">Детальніше про кожен смак</a>
     </div>
   </div>
</div>
<div class="container-fliud block-mb hidden-md hidden-lg">
   <div class="container lazy slick-slider product-slider slider">
      <div class="row slider-block text-center lr0-xs">
         <div class="col-lg-16 slider__img">
            <img src={{ "glo-pro_pack_1.png" | asset_url }} alt="Стіки" class="lazyload lazypreload">
         </div>
      </div>
      <div class="row slider-block text-center lr0-xs">
         <div class="col-lg-16 slider__img">
            <img src={{ "glo-pro_pack_2.png" | asset_url }} alt="Стіки" class="lazyload lazypreload">         
         </div>
      </div>
      <div class="row slider-block text-center lr0-xs">
         <div class="col-lg-16 slider__img">
            <img src={{ "glo-pro_pack_3.png" | asset_url }} alt="Стіки" class="lazyload lazypreload">         
         </div>
      </div>
   </div>
  <div class="container">
     <div class="row pT20">
     <div class="col-lg-16 text-center">
     	<a href="/pages/neosticks-packs" class="btn mB30" title="Про стіки">Детальніше про кожен смак</a>
     </div>
   </div>
  </div>
</div>
<div class="container-fliud bg-grey block-mb">
   <div class="container">
      <div class="row">
         <div class="col-lg-16 test-drive__block">
            <h3><span>Спробуй glo<span class="TM">TM</span><span class="dot">.</span></span> Безкоштовний тест-драйв</h3>
            <a href="/pages/free-test-drive" class="btn btn-primary btn--secondary-light">
            Замовити
            </a>
         </div>
      </div>
   </div>
</div>
<div class="container-fliud block-mb">
   <div class="container">
      <div class="row">
         <div class="col-lg-16">
            <div class="devices-block">
               <div class="devices__item devices__item-title">
                  <div class="item-header">
                     <h2>Підбери для себе glo<span class="TM">TM</span></h2>
                     <p>Порівняйте властивості пристроїв</p>
                  </div>
                  <div class="item-content">
                     <ul>
                        <li><img src={{ "complete-keyline.svg" | asset_url }} alt="Час нагрівання"><span>Час нагрівання</span></li>
                        <li><img src={{ "complete-keyline.svg" | asset_url }} alt="Потужність батареї"><span>Потужність батареї</span></li>
                        <li><img src={{ "complete-keyline.svg" | asset_url }} alt="Тривалість сесії"><span>Тривалість сесії</span></li>
                        <li><img src={{ "complete-keyline.svg" | asset_url }} alt="Вага пристрою"><span>Вага пристрою</span></li>
                        <li><img src={{ "complete-keyline.svg" | asset_url }} alt="Розмір"><span>Розмір</span></li>
                        <li><img src={{ "complete-keyline.svg" | asset_url }} alt="Ціна"><span>Ціна</span></li>
                     </ul>
                  </div>
               </div>
               <div class="devices__item">
                  <div class="item-header">
                     <div class="img"><img src="//cdn.shopify.com/s/files/1/0310/1140/5955/t/3/assets/comp_nano.png?4866" alt="nano"></div>
                     <div class="name">glo nano</div>
                  </div>
                  <div class="item-content">
                     <ul>
                        <li><span class="num">40</span><br><span>секунд</span></li>
                        <li><span class="num">До 8</span><br><span>сеансiв</span></li>
                        <li><span class="num">3.5</span><br><span>хвилин</span></li>
                        <li><span class="num">61г</span></li>
                        <li><span class="num">95x32x21</span><br><span>мм</span></li>
                       <li><span class="num"><strong>499грн</strong></li>
                     </ul>
                  </div>
               </div>
               <div class="devices__item">
                  <div class="item-header">
                     <div class="img"><a href="/products/glo-pro-kit"><img src={{ "comp_pro.png" | asset_url }}  alt="glo pro"></a></div>
                     <div class="name">glo pro</div>
                  </div>
                  <div class="item-content">
                     <ul>
                        <li><span class="num">20</span><br><span>секунд</span></li>
                        <li><span class="num">До 20</span><br><span>сеансiв</span></li>
                        <li><span class="num">4</span><br><span>хвилин</span></li>
                        <li><span class="num">98г</span></li>
                        <li><span class="num">82x43x21</span><br><span>мм</span></li>
                        <li><span class="num"><strong>1199грн</strong></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<style>
   .page-glo-nano__bg {
   background: url('https://cdn.shopify.com/s/files/1/0310/1140/5955/t/3/assets/page-pro_top-pic-min.png?v=1581520490') bottom;
   background-size: cover;
   background-repeat: no-repeat;
   }
   .fff-md {
   color: #fff;
   }
   .iframe-container {
   overflow: hidden;
   padding-top: 27%;
   position: relative;
   }
   @media screen and (max-width: 1024px) {
   .iframe-container {
   padding-top: 55%;
   margin-bottom: 20px;
   }
   } 
   @media screen and (max-width: 768px) {
   .iframe-container {
   padding-top: 54%;
   }
   }
   @media screen and (max-width: 667px) {
   .iframe-container {
   padding-top: 53%;
   }
   }
   .iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
   }
</style>