{{ 'aos.css' | asset_url | stylesheet_tag }}
{{ 'loyality-landing.scss.css' | asset_url | stylesheet_tag }}

<!---------------- Catch BLOCK ---------------->
<section class="loyality-catch">

  <div class="loyality-catch__descr">
    <div class="loyality-catch__descr-wrap">
      <h1>ЛОВИ ХВИЛЮ МОЖЛИВОСТЕЙ З<br/> glo BONUS CLUB</h1>
      <p>Збирай друзів, накопичуй бали<br/> та вперед назустріч<br/> яскравим враженням!</p>
      <a href="/account/register" class="btn btn--orange">Зареєструватися</a>

      <div class="loyality-catch__bottom-text">
        Круті враження <img src={{ "amp_fff.svg" | asset_url }}/><br/> Нові можливості <img src={{ "amp_fff.svg" | asset_url }}/><br/> Веселіше з друзями<br/> <span><img src={{ "amp_fff.svg" | asset_url }}/> більше</span>
      </div>
    </div>      
  </div>

  <div class="loyality-catch__bg">

    <div class="loyality-catch__bg-wraper">
      <img src={{"loy-catch_bg-2.png" | asset_url }} data-aos="fade-right" data-aos-offset="300" data-aos-mirror="true" data-aos-once="false">

      <div class="loyality-catch__bottom-text">
        Круті враження <img src={{ "amp_fff.svg" | asset_url }}/><br/> Нові можливості <img src={{ "amp_fff.svg" | asset_url }}/><br/> Веселіше з друзями<br/> <span><img src={{ "amp_fff.svg" | asset_url }}/> більше</span>
      </div>
    </div>

  </div>

</section>
<!---------------- end Catch BLOCK ---------------->


<!---------------- Easy BLOCK ---------------->
<section class="loyality-easy">
  <div class="container loyality__title">
    <h2>Залишайся з <span style="text-transform: none;">glo</span>, накопичуй бали, обирай враження до смаку!</h2>
    <p>Накопичувати бали легко:</p>
  </div>

  <div class="loyality-easy__wraper">

    <div class="loyality-easy__item loyality-easy__item--01">
      <div class="loyality-easy__item-bg">
        <img src={{"loy-easy_01-1.png" | asset_url }} data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-out">
        <img src={{"loy-easy_01-2.png" | asset_url }} data-aos="fade-up" data-aos-offset="180" data-aos-delay="300" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
		<img src={{"loy-easy_01-3.png" | asset_url }} data-aos="fade-up" data-aos-offset="150" data-aos-delay="600" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
      </div>
      <div class="loyality-easy__item-descr">
        <div class="item-descr__num">01</div>
        <div class="item-descr__title">Зареєструйся на сайті </div>
        <p>Ти власник (-ця) новенького девайсу glo? Залишився останній крок. Лише не забудь зареєструватися на сайті та накопичуй бонуси</p>
        <div class="item-descr__btns">
          <a href="/account/register" class="btn btn--orange">Зареєструватися</a>
          <a href="/account/login" class="btn btn--orange btn--orange-link">я вже маю акаунт</a>
        </div>
      </div>
    </div>

    <div class="loyality-easy__item loyality-easy__item--02">
      <div class="loyality-easy__item-bg">
        <div class="item-bg"></div>
        <img src={{"loy-easy_02-2.png" | asset_url }} data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-out">
      </div>
      <div class="loyality-easy__item-descr">
        <div class="item-descr__num">02</div>
        <div class="item-descr__title">Більше покупок =<br/> більше бонусів</div>
        <p>При покупці на сайті кожну витрачену гривню конвертуємо у бонуси </p>
        <h3>1 гривня = 4 бонуси</h3>
      </div>
    </div>

{% comment %}
    <div class="loyality-easy__item loyality-easy__item--03">
      <div class="loyality-easy__item-bg">
        <div class="item-bg"></div>

        <img src={{"loy-easy_03-2.png" | asset_url }} data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-out">
      </div>
      <div class="loyality-easy__item-descr">
        <div class="item-descr__num">03</div>
        <div class="item-descr__title">Бали за враження</div>
        <p>Поділись своїми враженнями про досвід з glo та допоможи нам стати кращими.</p>
        <p>PS: розмісти пост-відгук на своїй сторінці у соціальній мережі з тегом @gloukraine та лови ще 1000 балів</p>
      </div>
    </div>
{% endcomment %}

    <div class="loyality-easy__item loyality-easy__item--04">
      <div class="loyality-easy__item-bg">
        <img src={{"loy-easy_04-1.png" | asset_url }} data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-out">
{% comment %}
        <img src={{"loy-easy_04-2.png" | asset_url }} data-aos="fade-up" data-aos-offset="250" data-aos-delay="500" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
        <img src={{"loy-easy_04-3.png" | asset_url }} data-aos="fade-up" data-aos-offset="150" data-aos-delay="650" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
{% endcomment %}
      </div>
      <div class="loyality-easy__item-descr">
        <div class="item-descr__num">03</div>
        <div class="item-descr__title">Запроси друга</div>
        <p>Який же клуб без шумної компанії? Приводь всіх своїх друзів* та отримуй по 24 000 бонусів за кожного. </p> 
        <div class="item-descr__btns">          
          <a href="/account#invite-friend" class="btn btn--orange btn--orange-link">запросити друга</a>
        </div>
      </div>
    </div>
  </div>


</section>
<!---------------- end Easy BLOCK ---------------->


<!---------------- Join BLOCK ---------------->
<section class="loyality-join">
  <div class="container loyality__title loyality__title--black">
    <h2>Приєднуйся до <span class="small">glo</span> BONUS CLUB</h2>
    <p> та витрачай бонуси на все, що тобі до вподоби:</p>
  </div>

  <div class="container">
    <div class="loyality-join__slider">

      <div class="loyality-join__slider-item">
        <div class="slider-item__img"><img src={{"loy-join_2.png" | asset_url }} data-aos="fade-up" data-aos-easing="ease-in-out"></div>
        <div class="slider-item__title">Бажаєш спробувати нові смаки?</div>
        <p>Ми зібрали увесь асортимент твоїх улюблених стіків.</p>
      </div>

      <div class="loyality-join__slider-item">
        <div class="slider-item__img"><img src={{"loy-join_1.png" | asset_url }} data-aos="fade-up" data-aos-delay="250" data-aos-easing="ease-in-out"></div>
        <div class="slider-item__title">Хочеш підкреслити стиль?</div>
        <p>Тоді обирай аксесуар, який доповнить яскравий образ твого девайсу.</p>
      </div>

      <div class="loyality-join__slider-item">
        <div class="slider-item__img"><img src={{"loy-join_3.png" | asset_url }} data-aos="fade-up" data-aos-delay="500" data-aos-easing="ease-in-out"></div>
        <div class="slider-item__title">Плануєш подорож?</div>
        <p>Ми попіклувалися і про це. Зручний тревел-кіт стане у пригоді.</p>
      </div>

      <div class="loyality-join__slider-item">
        <div class="slider-item__img"><img src={{"loy-join_4.png" | asset_url }} data-aos="fade-up" data-aos-delay="750" data-aos-easing="ease-in-out"></div>
        <div class="slider-item__title">Хочеш відчути себе справжнім клаб-мембером?</div>
        <p>Обирай найкрутіший мерч евер!</p>
      </div>

    </div>
  </div>
  
  <div class="container loyality-disclaimer">
    <p>Тютюновмісні вироби для нагрівання не є цілком безпечними і викликають звикання</p>
  </div>

  <div class="loyality-join__btn">
    <a href="/account/register" class="btn btn--orange">приєднатися</a>
  </div>  
  
  

</section>
<!---------------- end Join BLOCK ---------------->


<!---------------- Fun BLOCK ---------------->
<section class="loyality-fun">
  <div class="container">
    <div class="loyality-fun__wrapper">
      <div class="loyality-fun__text">
        Легко <img src={{ "amp_000.svg" | asset_url }}/><br/>
        Доступно <img src={{ "amp_000.svg" | asset_url }}/><br/>
        Весело<br/>
        <span><img src={{ "amp_000.svg" | asset_url }}/> більше</span></div>
      <div class="loyality-fun__img">
        <img src={{"loy-fun_img.png" | asset_url }} data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
      </div>
    </div>

  </div>
</section>
<!---------------- end Fun BLOCK ---------------->


<!---------------- More BLOCK ---------------->
<section class="loyality-more">
  <div class="container">
    <div class="loyality-more__left">
      <h2 class="fff">Довше з <span>glo</span> =<br/> більше вражень!</h2>
      <p>Ми цінуємо твою лояльність<br/> та вдячні, що залишаєшся<br/> з glo BONUS CLUB</p>
      <a href="/account/register" class="btn btn--orange btn--orange-white">Зареєструватися</a>
    </div>
    <div class="loyality-more__right">      
      <div class="loyality-more__list">
        
        <div class="loyality-more__list-item">
          <div class="list-item__name">Basic</div>
          <div class="list-item__img">
          	<img src={{"loy-more_img-1.svg" | asset_url }} data-aos="fade" data-aos-offset="200" data-aos-easing="ease-in-out">
            <div class="list-item__img-arrow">
            	<img src={{"loy-more_arrow.svg" | asset_url }} data-aos="fade-down" data-aos-offset="150" data-aos-easing="ease-in-out">
              	<img src={{"loy-more_arrow-mob.svg" | asset_url }} data-aos="fade-down" data-aos-offset="150" data-aos-easing="ease-in-out">
            </div>
          </div>
          <div class="list-item__descr">Новачки клубу розпочинають з етапу - <b>BASIC</b></div>
        </div>
        
        <div class="loyality-more__list-item">
          <div class="list-item__name">PLUS</div>
          <div class="list-item__img">
          	<img src={{"loy-more_img-2.svg" | asset_url }} data-aos="fade" data-aos-offset="100" data-aos-delay="300" data-aos-easing="ease-in-out">
            <div class="list-item__img-arrow">
            	<img src={{"loy-more_arrow.svg" | asset_url }} data-aos="fade-down" data-aos-offset="100" data-aos-delay="450" data-aos-easing="ease-in-out">
              	<img src={{"loy-more_arrow-mob.svg" | asset_url }} data-aos="fade-down" data-aos-offset="100" data-aos-delay="450" data-aos-easing="ease-in-out">
            </div>
          </div>
          <div class="list-item__descr">Накопичивши <b>60.000 балів</b>, ти переходиш на новий рівень -  <b>PLUS</b> і відкриваєш ще більше можливостей клубу.</div>
        </div>
        <div class="loyality-more__list-item">
          <div class="list-item__name">ULTRA</div>
          <div class="list-item__img">
          	<img src={{"loy-more_img-3.svg" | asset_url }} data-aos="fade" data-aos-offset="50" data-aos-delay="600" data-aos-easing="ease-in-out">
          </div>
          <div class="list-item__descr">За позначкою <b>100.000 балів</b> – тебе чекає рівень <b>ULTRA</b></div>
        </div>
      </div>      
    </div>
  </div>
</section>
<!---------------- end More BLOCK ---------------->

<!---------------- Disclaimer BLOCK ---------------->
<section class="loyality-disclaimer">
  <div class="container">
    <p>* Друзі – повнолітні споживачі тютюнової або нікотинової продукції</p>
    
    <a href="">ПРАВИЛА БОНУСНОЇ ПРОГРАМИ «Glo Bonus Club. Завжди більше»</a>
  </div>
</section>
<!---------------- end Disclaimer BLOCK ---------------->


<script src="{{ 'aos.js' | asset_url }}"></script>
<script>  
  function mobileOnlySlider() {
    $('.loyality-join__slider').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      mobileFirst: true
    });
  }  
  $(window).resize(function(e){
    if(window.innerWidth < 768) {
      if(!$('.loyality-join__slider').hasClass('slick-initialized')){
        mobileOnlySlider();
      }
    }else{
      if($('.loyality-join__slider').hasClass('slick-initialized')){
        $('.loyality-join__slider').slick('unslick');
      }
    }
  });

  $(document).ready(function(){
    if(window.innerWidth < 768) {
      mobileOnlySlider();
    }
    
    AOS.init();
  });
</script>

