<div class="container-fliud page-glo-newsticks__bg block-mb">
	<img src={{ "new_stiks_bg-min.png" | asset_url }}>
</div>
<div class="c-section new-stiks">
  <div>
    <div class="o-container c-section__block new-stiks__top ">
      <h1>{{ page.title }}</h1>
      <p>{{ page.content }}</p>
    </div>

    <div class="c-section__block">
        <h2 class="o-container new-stiks__title">Тютюнові стіки для нагрівання</h2>

        <div class="list">

          <div class="item">
            <div class="o-container item__wrap">
              <div class="item__cont">
                <h3 class="item__title">
                  <span class="item__title__text">Rich Tobacco</span>
                  <span class="label label_green">Оновлений дизайн</span>
                  <span class="label label_brown">Тютюновий смак</span>
                </h3>
                <div class="item__desc">
                  <p class="item__text">
                    <span>Насичений, оксамитовий смак класичного тютюну</span>
                    <b>Новий яскравий дизайн упаковки</b>
                  </p>
                  <a href="/collections/neosticks/products/neo-sticks?variant=31401761112198" class="item__link btn btn--primary">Замовити</a>
                </div>
              </div>
              <div class="item__preview">
                <span class="item__preview_decor" style="background-image: url({{'rich_bg.png' | asset_url }});"></span>
                <div class="item__image" style="background-image: url({{'rich.png' | asset_url }});">
                  <span class="item__image_old">
                    <span class="item__image_old_wrap" style="background-image: url({{'kent_1_old.png' | asset_url }});"></span>
                  </span>
                </div>
                <div class="item__action">
                  <span class="item__btn active">Стало</span>
                  <span class="item__btn">Було</span>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="o-container item__wrap">
              <div class="item__cont">
                <h3 class="item__title">
                  <span class="item__title__text">Creamy Tobacco</span>
                  <span class="label label_brown">Тютюновий смак</span>
                </h3>
                <div class="item__desc">
                  <p class="item__text">
                    <span>Збалансований та м’який смак класичного тютюну з кремовими відтінками. Солодкий фільтр.</span>
                    <b>Яскравий сучасний дизайн</b>
                  </p>
                  <a href="/collections/neosticks/products/neo-sticks?variant=31308561186950" class="item__link btn">Замовити</a>
                </div>
              </div>
              <div class="item__preview">
                <span class="new-label">Новинка</span>
                <span class="item__preview_decor" style="background-image: url({{'creamy_bg.png' | asset_url }});"></span>
                <div class="item__image" style="background-image: url({{'creamy.png' | asset_url }});">
                <!-- <span class="item__image_old">
                    <span class="item__image_old_wrap" style="background-image: url({{'kent_5_old.png' | asset_url }});"></span>
                  </span>-->
                </div>
                <div class="item__action" style="opacity: 0; pointer-events: none;">
                  <span class="item__btn active">Стало</span>
                  <span class="item__btn">Було</span>
                </div>
              </div>
            </div>
          </div>

        </div>

        <h2 class="o-container new-stiks__title">Ароматизовані стіки для нагрівання</h2>

        <div class="list">

          <div class="item">
            <div class="o-container item__wrap">
              <div class="item__cont">
                <h3 class="item__title">
                  <span class="item__title__text">Dark Fresh</span>
                  <span class="label label_green">Оновлений дизайн</span>
                  <span class="label label_blue">З ментолом</span>
                </h3>
                <div class="item__desc">
                  <p class="item__text">
                    <span>Вишукане поєднання класичного тютюну з ментолом та ягідними нотками.</span>
                    <b>Новий яскравий дизайн упаковки</b>
                  </p>
                  <a href="/collections/neosticks/products/neo-sticks?variant=31275951784070" class="item__link btn btn--primary">Замовити</a>
                </div>
              </div>
              <div class="item__preview">
                <span class="item__preview_decor" style="background-image: url({{'dark_bg.png' | asset_url }});"></span>
                <div class="item__image" style="background-image: url({{'darkfresh.png' | asset_url }});">
                  <span class="item__image_old">
                    <span class="item__image_old_wrap" style="background-image: url({{'kent_3_old.png' | asset_url }});"></span>
                  </span>
                </div>
                <div class="item__action">
                  <span class="item__btn active">Стало</span>
                  <span class="item__btn">Було</span>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="o-container item__wrap">
              <div class="item__cont">
                <h3 class="item__title">
                  <span class="item__title__text">Citric Mix</span>
                  <span class="label label_green">Оновлений дизайн</span>
                  <span class="label label_blue">З ментолом</span>
                </h3>
                <div class="item__desc">
                  <p class="item__text">
                    <span>Багатогранний смак класичного тютюну з освіжаючими цитрусовими відтінками</span>
                    <b>Новий яскравий дизайн упаковки</b>
                  </p>
                  <a href="/collections/neosticks/products/neo-sticks?variant=31422936219782" class="item__link btn btn--primary">Замовити</a>
                </div>
              </div>
              <div class="item__preview">
                <span class="item__preview_decor" style="background-image: url({{'citric_bg.png' | asset_url }});"></span>
                <div class="item__image" style="background-image: url({{'citricmix.png' | asset_url }});">
                  <span class="item__image_old">
                    <span class="item__image_old_wrap" style="background-image: url({{'kent_4_old.png' | asset_url }});"></span>
                  </span>
                </div>
                <div class="item__action">
                  <span class="item__btn active">Стало</span>
                  <span class="item__btn">Було</span>
                </div>
              </div>
            </div>
          </div>

        </div>

        <h2 class="o-container new-stiks__title">Стіки з капсулою для нагрівання</h2>

        <div class="list">

          <div class="item">
            <div class="o-container item__wrap">
              <div class="item__cont">
                <h3 class="item__title">
                  <span class="item__title__text">Boost Red</span>
                  <span class="label label_red"><img src={{ "power-svg.svg" | asset_url }} width="11px" style="margin-right: 5px;">Ягідна капсула</span>
                  <span class="label label_blue">З ментолом</span>
                </h3>
                <div class="item__desc">
                  <p class="item__text">
                    <span>Капсула з освіжаючим ягідним смаком</span>
                    <b>Новий яскравий дизайн упаковки</b>
                  </p>
                  <a href="/collections/neosticks/products/neo-sticks?variant=31423204982918" class="item__link btn btn--primary">Замовити</a>
                </div>
              </div>
              <div class="item__preview">
                <span class="item__preview_decor" style="background-image: url({{'boost_red_bg-min.png' | asset_url }});"></span>
                <div class="item__image" style="background-image: url({{'boostred.png' | asset_url }});">
                  <span class="item__image_old">
                    <span class="item__image_old_wrap" style="background-image: url({{'kent_5_old.png' | asset_url }});"></span>
                  </span>
                </div>
                <div class="item__action">
                  <span class="item__btn active">Стало</span>
                  <span class="item__btn">Було</span>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="o-container item__wrap">
              <div class="item__cont">
                <h3 class="item__title">
                  <span class="item__title__text">Boost Royale</span>
                  <span class="label label_red"><img src={{ "power-svg.svg" | asset_url }} width="11px" style="margin-right: 5px;">Ягідна капсула</span>
                </h3>
                <div class="item__desc">
                  <p class="item__text">
                    <span>Солодкий мікс ягідних смаків. Солодкий фільтр</span>
                    <b>Яскравий сучасний дизайн</b>
                  </p>
                  <a href="/collections/neosticks/products/neo-sticks?variant=31275951751302" class="item__link btn btn--primary">Замовити</a>
                </div>
              </div>
              <div class="item__preview">
                <span class="new-label">Новинка</span>
                <span class="item__preview_decor" style="background-image: url({{'boost_royale_bg.png' | asset_url }});"></span>
                <div class="item__image" style="background-image: url({{'royale.png' | asset_url }});">
                  <!--<span class="item__image_old">
                    <span class="item__image_old_wrap" style="background-image: url({{'kent_5_old.png' | asset_url }});"></span>
                  </span>-->
                </div>
                <div class="item__action" style="opacity: 0; pointer-events: none;">
                  <span class="item__btn active">Стало</span>
                  <span class="item__btn">Було</span>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="o-container item__wrap">
              <div class="item__cont">
                <h3 class="item__title">
                  <span class="item__title__text">Boost Scarlet</span>
                  <span class="label label_red"><img src={{ "power-svg.svg" | asset_url }} width="11px" style="margin-right: 5px;">Карамельна капсула</span>
                </h3>
                <div class="item__desc">
                  <p class="item__text">
                    <span>Капсула з делікатним фруктовим смаком та карамельними нотками<br>Солодкий фільтр</span>
                    <b>Яскравий сучасний дизайн</b>
                  </p>
                  <a href="/collections/neosticks/products/neo-sticks?variant=31401763111046" class="item__link btn btn--primary">Замовити</a>
                </div>
              </div>
              <div class="item__preview">
                <span class="new-label">Новинка</span>
                <span class="item__preview_decor" style="background-image: url({{'boost_scarlet_bg.png' | asset_url }});"></span>
                <div class="item__image" style="background-image: url({{'scarlet.png' | asset_url }});">
                  <!--<span class="item__image_old">
                    <span class="item__image_old_wrap" style="background-image: url({{'kent_5_old.png' | asset_url }});"></span>
                  </span>-->
                </div>
                <div class="item__action" style="opacity: 0; pointer-events: none;">
                  <span class="item__btn active">Стало</span>
                  <span class="item__btn">Було</span>
                </div>
              </div>
            </div>
          </div>

        </div>

    </div>

  </div>
</div>

{{ 'neosticks-pack-1.scss.css' | asset_url | stylesheet_tag }}

<script>
  $(window).scroll(function() {
    $( '.new-stiks .list .item' ).each(function() {
      var thisPosTop = $(this).offset().top;
      if ( ((thisPosTop - $(window).scrollTop()) < 300) && (thisPosTop - $(window).scrollTop() > -300) ) {
        $( '.new-stiks .list .item' ).removeClass('active');
        $(this).addClass('active');
      }
    });
  });
  
</script>
